@charset "utf-8";
/* CSS Document */
body {
	overflow-x: hidden;
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "OpensansRegular", sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

header {
	z-index: 25;
	font-family: "OpensansRegular", sans-serif !important;
	background: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.column a {
	color: #3F3F3F;
	text-align: left;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	text-transform: none;
	text-decoration: none;
	margin: 0 0 10px;
	padding: 0;
	white-space: normal;
}

.column a:hover {
	color: orange;
	text-decoration: none;
}

footer {
	height: fit-content;
	padding: 106px 25px 53px 25px;
	background: #303030;
	display: table;
	table-layout: fixed;
	width: 100%;
	color: white;
}

.footer {
	padding: 0 31px;
	/* position: fixed; */
	/* left: 0; */
	bottom: 0;
	width: 100%;
}

.color-lit-drk {
	color: #999999;
}

.footer h3 {
	color: #fff;
	font-size: 16px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.f-col {
	padding: 0 15px;
}

.footer-sub-points {
	list-style: none;
	padding: 0;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 15px;
}

.footer h4 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}

.btm-sec {
	text-align: center;
	padding: 10px 0 3px;
	margin-top: 42px;
	border-top: 1px solid #3F3F3F;
}

.btm-sec h3 {
	font-size: 16px;
	margin: 4px;
	text-transform: uppercase;
}

.footer-connect-links {
	font-size: 12px;
	padding-left: 12px;
	margin: 0;
}

.btm-sec .col-sm-12 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.region-footer-bottom {
	color: #999999;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
}

/* socal @media   */
.fa {
	padding: 5px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	background-color: #000;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

header {
	transition: display ease-in 0.5s;
	box-shadow: 0px 10px 10px 0px rgba(48, 48, 71, 0.05);
	z-index: 102;
}

a:focus, a:hover {
	text-decoration: none;
}

.top-bar, .thinqmenu {
	background: #31a5dd; /* Old browsers */
	background: -moz-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #31a5dd 0%, #70b345 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#31a5dd',
		endColorstr='#70b345', GradientType=1);
}

.gradientbg {
	background: #31a5dd; /* Old browsers */
	background: -moz-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #31a5dd 0%, #70b345 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#31a5dd',
		endColorstr='#70b345', GradientType=1);
}

img {
	max-width: 100%;
	height: auto !important;
}

.social-icons {
	float: right;
}

.main-item {
	width: 89px;
}

.social-icons .dropdown-item {
	display: inline-block;
	padding: 0 5px;
}

.toplinks {
	display: inline-block;
	margin-right: 0;
	float: right;
}

.toplinks ul {
	list-style-type: none;
	margin-right: 10px;
}

.toplinks ul li {
	font-size: 12px;
	padding: 7px;
	color: #fff;
	float: left;
}

.toplinks ul li a {
	padding: 0px 5px;
	display: inline-block;
	color: #fff;
}

.active .toplinks ul li a {
	padding: 10px;
}

.navbar {
	margin-bottom: 0;
	border: none; /*background: #ffffff; 
background: -moz-linear-gradient(top, #ffffff 71%, #cbebff 100%, #a1dbff 100%);  
background: -webkit-linear-gradient(top, #ffffff 71%,#cbebff 100%,#a1dbff 100%); 
background: linear-gradient(to bottom, #ffffff 71%,#cbebff 100%,#a1dbff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1dbff',GradientType=0 ); 
*/
}

.nav>li {
	position: static;
}

.dropdown, .dropup {
	position: static;
}

.navbar-nav>li>a {
	font-size: 13px;
	color: #666;
	font-weight: 400;
	text-transform: uppercase;
}

.thinqmenu .navbar-nav>li>a {
	font-size: 11px;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.careerheader .navbar-nav>li>a {
	font-size: 12px !important;
	font-weight: 600;
}

.active .careerheader .navbar-nav>li>a {
	color: #fff;
}

.thinqmenu .navbar-brand {
	height: 30px !important;
	width: 180px !important;
	padding: 8px 15px;
}

.thinqmenu .social-icons {
	display: block;
	float: right;
}

.navbar-nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
	{
	background: #31a5dd;
	color: #fff;
}

.active .toplinks {
	display: none;
}

.toplinks-scroll {
	display: none;
}

.active .toplinks-scroll {
	display: block;
}

.navbar-nav>li>.dropdown-menu {
	border: none;
	background: #f7f7f7;
}

.navbar-brand {
	float: left;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
}

.img_lg, .txt-lg {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.txt-lg p {
	padding: 5px;
	font-size: 12px;
	line-height: 120%;
}

.img_lg img {
	padding: 10px 5px
}

.menutitle {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 5px;
	color: #666;
}

.sm_img {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}

.sm_txt {
	width: 78%;
	display: inline-block;
	vertical-align: top;
}

.sm_txt p {
	padding: 5px;
	font-size: 12px;
	line-height: 120%;
}

.sm_img img {
	padding: 10px 5px;
}

.dropdown-menu>li>a {
	color: #337ab7;
}

.form-inline {
	display: inline-block;
}

.tooltip {
	z-index: 99999;
}

.search-box2, .search-box2 button {
	position: relative;
	background: none !important;
	border: none;
}

.search-box2 .dropdown-content {
	right: 30px !important;
	width: auto;
	padding: 15px;
}

.loginimg {
	margin-top: 5px;
	float: right;
	width: 30px;
}

.btnsearch {
	background: #31a5dc;
	color: #fff;
	border: none;
}

.highlight {
	background: #ffb400;
	color: #ffffff !important;
}

.highlight:focus {
	background: #ffb400 !important;
	color: #ffffff !important;
}

.h-no-bullet {
	list-style-type: none;
}

.footer-connect-links {
	font-size: 12px;
	padding-left: 12px;
	margin: 0;
}

.careerfooter {
	background: url(../images/3690.jpg) no-repeat;
	background-size: cover;
	font-family: "OpensansRegular", sans-serif !important;
	padding: 0;
}

.footer-article {
	min-height: 80px;
	padding: 20px;
}

.footeroverlay {
	background: rgba(0, 0, 0, 0.8);
}

.scrollto123 .footeroverlay {
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
}

.footeroverlay>div {
	padding: 20px 0;
	margin: 0 20px
}

.sec2 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.clear {
	clear: both;
}

.footerlinks {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footerlinks li {
	padding: 0;
	margin: 0;
}

.footerlinks li a {
	color: #fff;
	margin-bottom: 5px;
	display: block;
}

.footerlinks li a:hover {
	color: #ccc;
}

.footer-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #ccc;
}

.footerlinks2 {
	display: inline-block;
	padding: 10px 20px;
}

.footerlinks2 a {
	color: #ccc;
	padding: 0 10px;
	display: inline-block;
}

.footerlinks2 a:hover {
	color: #666;
}

.sec1 span {
	margin-right: 20px;
	display: inline-block;
}

.rel {
	position: relative !important;
}

.banner-box {
	min-height: 250px;
	background: url(../images/blog-banner2.jpg) no-repeat center center;
	background-size: 100% 100%;
	color: #fff;
	padding: 30px 20px;
	font-family: "OpensansRegular", sans-serif !important;
	margin-bottom: 5px;
	position: relative;
}

.bannertxtlist {
	margin-bottom: 20px;
}

.bannertxt p {
	font-size: 50px;
	font-weight: 700;
	line-height: 120%;
}

.bannertxt span {
	font-size: 20px;
	color: #0CF;
	font-weight: 700;
}

.thinqbody {
	padding-top: 45px;
	background: #fff;
}

.bannertxtlist {
	font-size: 18px;
	line-height: 110%;
}

.bannertxtlist p {
	margin-bottom: 5px;
}

.bannertxtlist span {
	font-size: 14px;
	color: #0CF;
	font-weight: 700;
}

.nopadd {
	padding: 0 !important;
}

.namemenu {
	padding: 7px 20px 3px !important;
}

.graybg-m {
	background: #e6e7e8;
}

.graybg-l {
	background: #eff0f1 !important;
}

.whitebg {
	background: #fff !important;
}

.padd20 {
	padding: 20px;
}

.highlighttxt {
	padding: 10px 20px;
	background: #fff;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 0;
}

h2 span {
	font-size: 14px;
}

.blogrow {
	margin-bottom: 25px;
}

.blogimg {
	float: left;
	width: 30%;
	float: left;
}

.blogtxt {
	width: 68%;
	float: left;
}

.blogtxt h5 {
	margin: 0 10px 5px;
}

.blogtxt p {
	margin: 5px 10px;
}

.blogdate {
	font-size: 12px;
	color: #999;
}

.nobg {
	background: none !important;
}

.blogtitle {
	font-size: 40px;
}

.blog-single, .similarblogs {
	margin: 0 20px 40px;
	border-bottom: 1px solid #ccc;
}

.stickybuttons {
	width: 50px;
	position: fixed;
	top: 120px;
	left: 0;
	z-index: 100;
}

.stickybuttons a {
	display: block;
	border-radius: 0;
	margin: 0;
}

.stickybuttons a:hover, .soc-icons a:hover {
	color: #fff;
}

.blog-single p {
	margin: 25px 0;
}

.graytxt {
	color: #999;
}

.fa-envelope {
	background: #F30;
	color: #fff;
}

.noshadow {
	box-shadow: none;
}

.noborder {
	border: none !important;
}

.modal {
	background: -moz-linear-gradient(left, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#75b61e56',
		endColorstr='#75ce2f3f', GradientType=1); /* IE6-9 */
}

.emailform input, .emailform select, .emailform textarea {
	border-radius: 0;
	margin-bottom: 30px;
	padding: 10px 0;
	box-shadow: none;
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-weight: 700;
}

.emailform select option {
	color: #333;
}

.emailform input::-webkit-input-placeholder {
	color: #fff !important;
}

.emailform input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;
}

.emailform input::-moz-placeholder { /* Firefox 19+ */
	color: #fff !important;
}

.emailform input:-ms-input-placeholder {
	color: #fff !important;
}

.emailform input:focus, .emailform select:focus, .emailform textarea:focus
	{
	box-shadow: none;
}

#close-top {
	top: 7px;
}

#collect-chat-launcher-container {
	position: static;
	display: none;
}
/*classes added for Homepage */
#Recruitment {
	background: #f9f9fb;
}

#ThinQ {
	background-color: #f1f1f1;
}

#Social {
	background-color: #ffffff;
}

#latest {
	background-color: #fff;
}

#CompanyMotto {
	background-color: #ffcc00;
}

.text-bottom {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding-right: 20px;
}

.text-top {
	position: absolute;
	padding-right: 20px;
	top: 20px;
	left: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	/*height: 100% !important;*/
	bottom: 0;
	margin-bottom: 0;
}

.carousel-inner>.item {
	margin-top: 60px;
}

.ltblue-bg {
	background: #ecf2f2;
}

.readmore {
	padding: 5px 20px;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
}

.readmore:hover {
	background: #6fb347;
	color: #fff;
}

.applybtn {
	padding: 5px 35px 5px;
	border: 1px solid #fff !important;
	display: inline-block;
	font-size: 18px;
	background: #31a5dd;
	color: #fff !important;
	/*background: #31a5dd url(../images/arrow.png) no-repeat 10px center;*/
}

.applybtn:hover {
	/*background: #6fb347 url(../images/arrow.png) no-repeat 10px center;*/
	color: #fff;
	background: #6fb347;
}

.whitcolor {
	color: #fff;
}

.scrollto123 h1 {
	padding: 50px 0 10px 0;
}

.section-hd {
	margin: 50px 0;
	font-size: 46px;
	font-weight: 700;
}

.section-hd-text {
	margin: 20px 20% 50px;
	font-size: 18px;
}

.marg20 {
	margin: 20px;
}

.box1 {
	margin-bottom: 20px;
}

.box2 {
	padding: 10px 20px 3px;
	background: #31a5dd;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}

.graybox {
	padding: 15px 20px 15px 40px;
	background: #f1f1f1;
	position: relative;
}

.bluebox2 {
	padding: 15px 20px 15px 40px;
	background: #31a5dd;
	position: relative;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

.bluebox4 {
	padding: 5px 20px 5px 40px;
	border-radius: 5px 5px 0 0;
}

.bluebox4 h2 {
	padding: 5px 10px;
	margin-top: 10px;
}

.blk-overlay {
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.bot {
	bottom: 0;
}

.box3 p {
	padding: 20px 20px 20px 40px;;
	color: #fff;
}

.box3 p span {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.greenbg {
	background: #6fb347;
	padding: 80px 20px 40px
}

.greenbg a {
	color: #fff;
}

.latest-icon {
	width: 40px;
	display: block;
}

.greenbgtxt {
	margin-bottom: 30px;
}

.dgraybg {
	padding: 40px 0;
}

.greenbg a:hover {
	color: #f1f1f1;
}

.footerbg {
	background: url(../images/4224.jpg) no-repeat;
	background-size: 100% 100%;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	top: 80px;
	left: 15%;
	z-index: 10;
	color: #fff;
}

.carousel-caption h3 {
	font-size: 72px;
	font-weight: 700;
}

.item {
	background: #000;
}

.item img {
	opacity: 0.6;
}
/*css for career page*/
.careerbanner video {
	min-width: 100%;
	min-height: 100%;
	opacity: 0.7;
}

.careerbanner .carousel-caption {
	text-align: left;
	width: 50%;
	top: 30%;
	left: 5%;
}

.careerbanner .carousel-caption h1 {
	font-weight: 700;
	font-size: 55px;
	color: #fff;
}

.careerbanner .carousel-caption p {
	font-size: 18px;
}

.sectionpadd {
	padding: 40px 0;
}

.campusbaner {
	margin-top: 55px;
	margin-left: 4px;
}

.campusbaner .row1 {
	margin-bottom: 3px;
}

.campusbaner .row1>div {
	position: relative;
	vertical-align: top;
}

.textoverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #fff;
}

.textoverlay h4 {
	color: #31a5dd;
	font-size: 34px;
	font-weight: 700;
	padding: 40px 30px;
}

.videooverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	opacity: 0;
}

.videooverlay:hover {
	opacity: 1.0 !important;
}

.searchbox-campus {
	position: absolute;
	width: 300px;
	left: 40%;
	top: 250px;
	z-index: 1;
	text-align: center;
}

.jobsearchbtn {
	position: absolute;
	right: 0;
	border: none;
	background: none;
	top: 5px;
}

.searchinpt {
	border: 3px solid #333;
	width: 100%;
	padding: 5px 10px;
}

.map {
	background: #fff;
	position: relative;
}

.map-wrapper {
	position: relative;
}

.mappopup {
	position: absolute;
	color: #000;
	transition: all 3s;
}

@
keyframes anim { 0% {
	display: none;
	opacity: 0;
}

1%
{
display


:

 

block


;
opacity


:

 

0;
transform


:

 

scale


(0);
}
100%
{
opacity


:

 

1;
transform


:

 

scale


(1);
}
}
.padd40right {
	padding: 0 40px 0 0;
}

.sticky-contact a {
	color: #fff !important;
	outline: none;
	border: none;
}

.sticky-contact a:hover i {
	background: none;
}

.sticky-contact i {
	font-size: 20px;
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 0;
	background: none;
}

.sticky-contact i img {
	width: 25px;
	margin: 0;
	padding: 0;
}

.call {
	background: #F00;
	padding: 10px;
	width: 100px;
	right: -60px;
	position: fixed;
	top: 100px;
	z-index: 100;
}

.mail {
	background: #39F;
	padding: 10px;
	width: 100px;
	right: -59px;
	position: fixed;
	top: 142px;
	z-index: 100;
}

.chat {
	background: #F90;
	padding: 7px 10px;
	width: 100px;
	right: -60px;
	position: fixed;
	top: 184px;
	z-index: 100;
}

.sticky-contact>div {
	transition: all ease-in .5s;
}

.sticky-contact>div:hover {
	right: 0;
}

.aos-item {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: #ccc;
	text-align: center;
	color: #FFF;
	font-size: 3em;
}
/******  MODAL ******/
.loginmodal-container {
	padding: 40px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container select {
	margin-bottom: 10px;
}

.form-hd {
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}

.modal-dialog {
	margin: 0 auto;
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	transition: opacity ease 0.5s;
}

.login-help {
	font-size: 12px;
}

.formbtn {
	border: none;
	border-radius: 4px;
	background: #31a5dd;
	color: #fff;
	padding: 5px 10px !important;
	text-transform: uppercase;
}

.leaderbox {
	border: 4px solid #fff;
	box-shadow: 0 0 15px #999;
	position: relative;
}

.txt-overlay {
	font-size: 12px;
	background: #fff;
	position: absolute;
	width: 100%;
	min-height: 20px;
	bottom: -2px;
	transition: all 0.5s ease-in-out;
}

.txt-overlay p {
	text-align: center;
}

.hd_main1 {
	transition-property: top, left;
	transition-duration: 1s, 1s;
	transition-delay: 0s, 1s;
}

.map-new {
	background: #4eab98;
	position: relative;
	color: #fff;
	padding: 20px 80px 60px;
}

.dflex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.servicesdd .column ul li a strong{
	display:block;
	
}*/
.readmoreblk {
	color: #000;
	border: 1px solid #000;
	margin-top: 10px;
	padding: 5px 20px;
	display: inline-block;
	margin-left: 0;
}

.readmoreblk:hover {
	color: #fff;
	border: 1px solid #fff;
	background: #6fb347;
}

.gradient-hd {
	font-size: 60px;
	font-weight: 300;
	color: #4298b5 !important;
	background: -webkit-linear-gradient(0deg, #77ccf0, #6fb34b) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	padding-bottom: 15px;
}

.gradient-hd2 {
	font-size: 36px;
	font-weight: 300;
	line-height: 100%;
	color: #4298b5 !important;
	background: -webkit-linear-gradient(0deg, #77ccf0, #6fb34b) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	padding-bottom: 15px;
}

.icon-circle {
	margin: auto;
	width: 150px;
	height: 150px;
	padding: 25px;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #31a5dd;
}

.icon-txt-services {
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexrow {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 10px;
	margin-top: 40px;
}

.customertxt {
	padding: 0 10px;
}

.flextext {
	height: 300px;
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.textcol {
	padding: 0 40px;
	display: flex;
	align-items: center;
}

.textcol h2 {
	color: #31a5dd;
}

.no-rt-marg {
	margin-right: 0;
}

.no-lf-marg {
	margin-left: 0;
}

.keydriver {
	color: #31a5dd;
}

.marglr-15 {
	margin: 0 -15px !important;
}

.strategies {
	background: #f1f1f1;
}

.bluebg {
	background: #31a5dd !important;
	color: #fff;
}

.healthcare1 {
	background: url(../images/banner_1.jpeg) no-repeat;
	background-size: cover;
}

.healthcareoverlay {
	color: #fff;
	background: -moz-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#70b346',
		endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
}

.healthcareoverlay h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 20px;
}

.healthcareoverlay p, .healthcareoverlay-right p {
	margin-bottom: 20px;
}

.healthcare2 {
	background: url(../images/healthcare-trizettopromo_bg.jpg) no-repeat
		right center;
	background-size: cover;
}

.healthcareoverlay2 h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 20px;
}

.healthcareoverlay-right {
	color: #fff;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00ffffff',
		endColorstr='#70b346', GradientType=1); /* IE6-9 */
}

.healthcare2-left {
	background: url(../images/healthcare-trizettopromo_left.jpg) no-repeat
		left center;
	background-size: cover;
}

.careerbanner {
	margin-top: 80px;
	position: relative;
	background: #000;
}

.career-inner-banner {
	margin-top: 80px;
	position: relative;
}

.banner-box1 {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 5%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.thinqbaner1 .banner-box1 {
	background: rgba(0, 0, 0, 0.3);
}

.campusbaner {
	margin-top: 50px;
	margin-left: 0;
}

.searchbg {
	background: url(../images/searchbg.jpg) no-repeat right center;
	background-size: cover;
}

.searchoverlay {
	padding: 60px 0;
	color: #fff;
	background: -moz-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#70b346',
		endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
}

.searchbtn {
	padding: 10px;
	background: #09C;
	color: #fff;
	border: 1px solid #fff;
}

.jobsearchbox {
	margin: 20px 0;
}

.jobsearchbox input {
	border: 1px solid #fff;
	width: 35%;
	padding: 0 5px;
	height: 42px !important;
	color: #333;
}

.fs14 {
	font-size: 14px !important;
}

.bold {
	font-weight: 700;
}

.links a {
	margin-right: 5px;
}

.lightbluebg {
	background: #55bde5 !important;
	position: relative;
	border: none !important;
	color: #fff;
}

.orangebg {
	background: #F93 !important;
	border: none !important;
	color: #fff;
}

.blucolor {
	color: #31a5dd;
}

.line {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
}

.wpimg {
	margin: 8px 4px;
	position: relative;
	/*cursor:pointer;*/
}

.careerpage, .campuspage {
	padding-right: 0 !important;
}

.campuspage .modal-backdrop, .careerpage .modal-backdrop {
	position: absolute !important;
	overflow: visible;
}

.careerpage .modal-backdrop.in {
	display: none;
	opacity: 0;
}

.modal-open {
	overflow-y: scroll !important;
	width: 100%;
}

.pointer {
	cursor: pointer;
}

@
keyframes anim3 { 0% {
	display: none;
	opacity: 0;
}

1%
{
display


:

 

block


;
opacity


:

 

0;
transform


:scaleY(0)


;
}
100%
{
opacity


:

 

1;
transform


:

 

scaleY


(1);
}
}
.button.close {
	z-index: 10;
}

.bluishgray {
	background: #ecf2f2;
}

.paratext p {
	padding: 0 40px;
}

.afterscroll {
	display: none;
}

.widerbtn {
	padding-left: 40px !important;
	padding-right: 40px !important;
	font-weight: 700;
}

.cenerline {
	text-align: center;
}

.cenerline a {
	color: #FF0;
	font-weight: 700;
	padding: 15px 0 5px 0;
	display: inline-block;
	margin-left: 150px;
}

.campujob {
	padding-top: 40px;
}

.redcolor {
	color: #F00 !important;
}

.text-content {
	padding: 40px 60px;
	box-shadow: 0 0 5px #ccc;
}

.whitebox {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	background: #fff;
}

.box-hd {
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	border-radius: 5px 5px 0 0;
}

.formsection {
	background: #f9f9f9;
}

i:hover {
	background: none !important;
}

#hide {
	display: none;
}

.applybtn:focus {
	color: #fff;
}

.border {
	border: 1px solid #ccc;
}

.text-content span, .text-content input {
	vertical-align: middle;
	display: inline-block;
}

.padd10 {
	padding: 10px;
}

.valign-m {
	vertical-align: middle;
	align-items: center;
}

.justifycenter {
	justify-content: center;
}

.justify-full {
	justify-content: stretch;
}

.ui-datepicker-year, .ui-datepicker-month {
	height: 30px !important;
	margin: 4px !important;
}

.fs12 {
	font-size: 12px;
}

.loginform .input-group {
	margin-top: -20px;
}

.loginform .input-group2 {
	margin-top: -20px;
}

#termsModal {
	background: #fff;
	width: 80%;
	margin: 10%;
	padding: 20px 30px;
}

.loginform input, .loginform select {
	margin-bottom: 10px;
}

.marks input, .marks span {
	vertical-align: middle;
	margin: 0 5px;
}

.marks-radio-buttons {
	display: inline-block;
	vertical-align: middle;
}

.yellobg {
	background: #f7c93b;
}

.modal {
	overflow-y: auto;
}

.prompt {
	padding-bottom: 40px;
}

.prompt p {
	margin-top: 20px;
}

.highlightlink {
	font-weight: 700;
	color: #F90 !important;
}

.huerotate:hover img {
	filter: hue-rotate(-84deg);
}

.contrast:hover img {
	-webkit-filter: contrast(160%);
	filter: contrast(160%);
}

.dd-small {
	width: 100% !important;
}

.dd-small li {
	width: 100% !important;
}

.dd-small li a {
	color: #039;
}

.badgebox {
	opacity: 0;
}

.badgebox+.badge {
	/* Move the check mark away when unchecked */
	text-indent: -999999px;
	/* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus+.badge {
	/* Set something to make the badge looks focused */
	/* This really depends on the application, in my case it was: */
	/* Adding a light border */
	box-shadow: inset 0px 0px 5px;
	/* Taking the difference out of the padding */
}

.badgebox:checked+.badge {
	/* Move the check mark back when checked */
	text-indent: 0;
}

/*upload btn*/
.hide {
	display: none;
}

.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #bbbbbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn {
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15)
		rgba(0, 0, 0, 0.25);
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.margt0 {
	margin-top: 0;
}

.linkbtn {
	background: none;
	border: none;
	color: #069;
	font-size: 16px;
	font-weight: 700;
	margin: 0 10px;
}

.paddtb20 {
	padding: 20px 0;
}

.paddtb15 {
	padding: 15px 0;
}

.video-banner {
	position: relative;
	margin-top: 80px;
	margin-bottom: -5px;
}

.video-banner video {
	width: 100%;
}

.slideroverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.homevideoslider {
	margin-top: 13%;
	position: absolute;
	width: 100%;
	z-index: 101;
}

.homevideoslider h1 {
	font-weight: bold;
	color: #fff;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	background: none;
}

.homevideoslider .item {
	background: none;
	width: 100%;
}

.homevideoslider .carousel-control.right, .homevideoslider .carousel-control.left
	{
	background: none;
}

.navbar-toggle {
	z-index: 102 !important;
}

.new .jobbox {
	margin-bottom: 15px;
}

.campuspage {
	padding-top: 50px;
}

.shadowbox {
	background: #fff;
	box-shadow: 0 0 15px #ccc;
	padding: 30px 0;
	position: relative;
	z-index: 1;
}

.videotxt a {
	color: #fff;
	cursor: pointer !important;
}

.videotxt {
	position: absolute;
	width: 80%;
	margin: 20% 10%;
	color: #fff;
	text-align: center;
	z-index: 1;
}

.videobg {
	margin-top: -250px;
	margin-bottom: -5px;
}

.form-header {
	background: #fff;
	padding: 10px 20px 1px;
	text-align: left;
}

.text-left {
	text-align: left;
}

.career-inner-banner video {
	width: 100% !important;
}

.margt10 {
	margin-top: 10px;
}

.top0 {
	top: 0 !important;
}

.stats {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #31a5dd;
	color: #fff;
	padding: 20px 0 40px;
	text-align: center;
}

.stats h1 span {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

.rtbuttons a {
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	background: #6C0;
}

.maroonbg {
	background: rgb(169, 3, 41); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a90329',
		endColorstr='#6d0019', GradientType=1); /* IE6-9 */
}

.eventbanner video {
	opacity: 0.5;
}

section.module.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.eventicon {
	border-bottom: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.eventicon i {
	font-size: 46px;
}

.eventicon i.fa {
	width: auto;
}

.iconwrapper {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	text-align: center;
	padding: 15px 10px;
}

.iconwrapper:hover {
	background: rgba(0, 0, 0, 0.9);
}

.redbox2 {
	background: #ed2638;
	color: #fff;
	font-size: 18px;
}

.redbox2>div {
	padding: 30px;
}

.Qlogoblue {
	width: 50px;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.padd15 {
	padding: 15px;
}

/*radio*/

/* The radio */
.radio {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	margin-right: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/* Hide the browser's default radio button */
.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkround {
	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-color: #31a5dd;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked  ~ .checkround {
	background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked  ~ .checkround:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
	left: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #31a5dd;
}

.helptextbox {
	position: absolute;
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	padding: 20px;
	margin: 0 30px;
	z-index: 1;
	border-radius: 5px;
	width: 260px;
}

.helptextbox ul {
	margin: 0;
	padding: 5px 20px;
}

.techicons {
	margin-top: 40px;
}

.techicons span {
	margin-top: -10px;
	font-size: 12px;
	display: block;
}

.techicons>div {
	text-align: center;
	width: 20%;
}

.techicons img {
	width: 65px;
	display: inline-block;
	margin-bottom: 10px;
}

.maroonbg-plain {
	background: #b61e56;
}

.mb-gradient {
	background: rgb(182, 30, 86); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#b61e56',
		endColorstr='#31a5dd', GradientType=1); /* IE6-9 */
}

.qc-icon {
	width: 60px;
}

.stats span {
	padding: 5px 10px;
	display: block;
}

.marglr15 {
	margin: 0 15px;
}

.marglr20 {
	margin: 0 20px;
}

.login-prompt {
	margin: 40px auto !important;
}

.login-prompt input {
	padding: 5px;
}

.login-prompt .control-group {
	padding: 0;
}

.login-prompt label {
	font-weight: 400;
}

.login-prompt .controls {
	margin-bottom: 10px;
}

.prompthd {
	padding: 15px 20px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.login-prompt .btn {
	height: 44px;
}

.connect-facebook-btn i {
	font-size: 24px;
	vertical-align: middle;
	margin: 0 5px 5px;
}

.connect-facebook-btn {
	width: 100%;
	height: 45px;
	font-size: 14px;
	background-color: #3B5A97;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	line-height: 24px;
	padding-right: 35px;
	border-radius: 3px;
}

.connect-facebook-btn:hover {
	color: #fff;
}

.or {
	border-top: 1px solid #ccc;
	margin: 20px 0 0 0;
	text-align: center;
}

.or span {
	position: relative;
	display: inline-block;
	padding: 3px 10px;
	background: #fff;
	color: #666;
	margin-top: -20px;
	top: -10px;
}

.countryCode {
	width: 30%;
	display: inline-block !important;
}

.form-control-sm {
	display: inline-block !important;
	width: 65%;
}

.loginpage {
	margin-top: 20px;
}

.loginpagetabs span {
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 0 5px;
	display: inline-block;
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	margin-bottom: -1px;
}

.loginpage .tab-content {
	border: 1px solid #ccc;
}

.loginpage .prompthd {
	border-radius: 0;
}

.loginpage .padd20 {
	padding: 20px;
}

.forgtopassword {
	font-size: 12px;
	margin-top: -20px;
}

.teamspeak {
	background: #ffe082;
	padding: 30px 0;
}

.category {
	padding: 15px 0 15px 40px;
	font-size: 20px;
	border-bottom: 1px solid #e3e3e3;
	position: relative;
	font-weight: 700;
}

.cat-arrow {
	position: absolute;
	left: 60px;
	bottom: -11px;
	z-index: 1;
}

.teamspeak h3 {
	margin: 0 0 20px;
}

.text-center {
	text-align: center;
}

.grayborderteam .teamspeak .blogrow {
	padding: 15px 0 0;
	border-top: 1px solid #e6e7e8;
}

.knowmore .readmore, .alliencesbox .readmore, .textcol .readmore {
	color: #000;
	border: 1px solid #000;
	margin-top: 10px;
	padding: 5px 20px;
	display: inline-block;
	margin-left: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.tabs li a {
	padding: 10px 40px;
	font-size: 18px;
	font-weight: 700;
	background: #CCC;
	color: #fff;
	margin-right: 5px;
}

.tabs .tab-content {
	padding: 30px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
}

.fresherstext {
	padding: 40px;
	color: #fff;
}

.fresherstext p {
	margin: 20px 30px 20px 0;
	padding-left: 10px;
	border-left: 2px solid #fff;
}

.graduatefreshercontents h3 {
	color: #F60;
	margin-top: 20px;
}

@charset "utf-8";
/* CSS Document */
body {
	overflow-x: hidden;
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "OpensansRegular", sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

header {
	z-index: 25;
	font-family: "OpensansRegular", sans-serif !important;
	background: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.column a {
	color: #3F3F3F;
	text-align: left;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	text-transform: none;
	text-decoration: none;
	margin: 0 0 10px;
	padding: 0;
	white-space: normal;
}

.column a:hover {
	color: orange;
	text-decoration: none;
}

footer {
	height: fit-content;
	padding: 106px 25px 53px 25px;
	background: #303030;
	display: table;
	table-layout: fixed;
	width: 100%;
	color: white;
}

.footer {
	padding: 0 31px;
	/* position: fixed; */
	/* left: 0; */
	bottom: 0;
	width: 100%;
}

.color-lit-drk {
	color: #999999;
}

.footer h3 {
	color: #fff;
	font-size: 16px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.f-col {
	padding: 0 15px;
}

.footer-sub-points {
	list-style: none;
	padding: 0;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 15px;
}

.footer h4 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}

.btm-sec {
	text-align: center;
	padding: 10px 0 3px;
	margin-top: 42px;
	border-top: 1px solid #3F3F3F;
}

.btm-sec h3 {
	font-size: 16px;
	margin: 4px;
	text-transform: uppercase;
}

.footer-connect-links {
	font-size: 12px;
	padding-left: 12px;
	margin: 0;
}

.btm-sec .col-sm-12 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.region-footer-bottom {
	color: #999999;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
}

/* socal @media   */
.fa {
	padding: 5px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	background-color: #000;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

header {
	transition: display ease-in 0.5s;
	box-shadow: 0px 10px 10px 0px rgba(48, 48, 71, 0.05);
	z-index: 102;
}

a:focus, a:hover {
	text-decoration: none;
}

.top-bar, .thinqmenu {
	background: #31a5dd; /* Old browsers */
	background: -moz-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #31a5dd 0%, #70b345 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a5dd',
		endColorstr='#70b345', GradientType=1);
}

.gradientbg {
	background: #31a5dd; /* Old browsers */
	background: -moz-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #31a5dd 0%, #70b345 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #31a5dd 0%, #70b345 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a5dd',
		endColorstr='#70b345', GradientType=1);
}

.social-icons {
	float: right;
}

.main-item {
	width: 89px;
}

.social-icons .dropdown-item {
	display: inline-block;
	padding: 0 5px;
}

.toplinks {
	display: inline-block;
	margin-right: 0;
	float: right;
}

.toplinks ul {
	list-style-type: none;
	margin-right: 10px;
}

.toplinks ul li {
	font-size: 12px;
	padding: 7px;
	color: #fff;
	float: left;
}

.toplinks ul li a {
	padding: 0px 5px;
	display: inline-block;
	color: #fff;
}

.active .toplinks ul li a {
	padding: 10px;
}

.navbar {
	margin-bottom: 0;
	border: none; /*background: #ffffff; 
background: -moz-linear-gradient(top, #ffffff 71%, #cbebff 100%, #a1dbff 100%);  
background: -webkit-linear-gradient(top, #ffffff 71%,#cbebff 100%,#a1dbff 100%); 
background: linear-gradient(to bottom, #ffffff 71%,#cbebff 100%,#a1dbff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1dbff',GradientType=0 ); 
*/
}

.nav>li {
	position: static;
}

.dropdown, .dropup {
	position: static;
}

.navbar-nav>li>a {
	font-size: 13px;
	color: #666;
	font-weight: 400;
	text-transform: uppercase;
}

.thinqmenu .navbar-nav>li>a {
	font-size: 11px;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.careerheader .navbar-nav>li>a {
	font-size: 12px !important;
	font-weight: 600;
}

.active .careerheader .navbar-nav>li>a {
	color: #fff;
}

.thinqmenu .navbar-brand {
	height: 30px !important;
	width: 180px !important;
	padding: 8px 15px;
}

.thinqmenu .social-icons {
	display: block;
	float: right;
}

.navbar-nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
	{
	background: #31a5dd;
	color: #fff;
}

.active .toplinks {
	display: none;
}

.toplinks-scroll {
	display: none;
}

.active .toplinks-scroll {
	display: block;
}

.navbar-nav>li>.dropdown-menu {
	border: none;
	background: #f7f7f7;
}

.navbar-brand {
	float: left;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
}

.img_lg, .txt-lg {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.txt-lg p {
	padding: 5px;
	font-size: 12px;
	line-height: 120%;
}

.img_lg img {
	padding: 10px 5px
}

.menutitle {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 5px;
	color: #666;
}

.sm_img {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}

.sm_txt {
	width: 78%;
	display: inline-block;
	vertical-align: top;
}

.sm_txt p {
	padding: 5px;
	font-size: 12px;
	line-height: 120%;
}

.sm_img img {
	padding: 10px 5px;
}

.dropdown-menu>li>a {
	color: #337ab7;
}

.form-inline {
	display: inline-block;
}

.tooltip {
	z-index: 99999;
}

.search-box2, .search-box2 button {
	position: relative;
	background: none !important;
	border: none;
}

.search-box2 .dropdown-content {
	right: 30px !important;
	width: auto;
	padding: 15px;
}

.loginimg {
	margin-top: 5px;
	float: right;
	width: 30px;
}

.btnsearch {
	background: #31a5dc;
	color: #fff;
	border: none;
}

.highlight {
	background: #ffb400;
	color: #ffffff !important;
}

.highlight:focus {
	background: #ffb400 !important;
	color: #ffffff !important;
}

.h-no-bullet {
	list-style-type: none;
}

.footer-connect-links {
	font-size: 12px;
	padding-left: 12px;
	margin: 0;
}

.footer-article {
	min-height: 80px;
	padding: 20px;
}

.footeroverlay {
	background: rgba(0, 0, 0, 0.8);
}

.scrollto123 .footeroverlay {
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
}

.footeroverlay>div {
	padding: 20px 0;
	margin: 0 20px
}

.sec2 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.clear {
	clear: both;
}

.footerlinks {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footerlinks li {
	padding: 0;
	margin: 0;
}

.footerlinks li a {
	color: #fff;
	margin-bottom: 5px;
	display: block;
}

.footerlinks li a:hover {
	color: #ccc;
}

.footer-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #ccc;
}

.footerlinks2 {
	display: inline-block;
	padding: 10px 20px;
}

.footerlinks2 a {
	color: #ccc;
	padding: 0 10px;
	display: inline-block;
}

.footerlinks2 a:hover {
	color: #666;
}

.sec1 span {
	margin-right: 20px;
	display: inline-block;
}

.rel {
	position: relative !important;
}

.bannertxtlist {
	margin-bottom: 20px;
}

.bannertxt p {
	font-size: 50px;
	font-weight: 700;
	line-height: 120%;
}

.bannertxt span {
	font-size: 20px;
	color: #0CF;
	font-weight: 700;
}

.thinqbody {
	padding-top: 45px;
	background: #fff;
}

.bannertxtlist {
	font-size: 18px;
	line-height: 110%;
}

.bannertxtlist p {
	margin-bottom: 5px;
}

.bannertxtlist span {
	font-size: 14px;
	color: #0CF;
	font-weight: 700;
}

.namemenu {
	padding: 7px 20px 3px !important;
}

.graybg-m {
	background: #e6e7e8;
}

.graybg-l {
	background: #eff0f1 !important;
}

.whitebg {
	background: #fff !important;
}

.padd20 {
	padding: 20px;
}

.highlighttxt {
	padding: 10px 20px;
	background: #fff;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 0;
}

h2 span {
	font-size: 14px;
}

.blogrow {
	margin-bottom: 25px;
}

.blogimg {
	float: left;
	width: 30%;
	float: left;
}

.blogtxt {
	width: 68%;
	float: left;
}

.blogtxt h5 {
	margin: 0 10px 5px;
}

.blogtxt p {
	margin: 5px 10px;
}

.blogdate {
	font-size: 12px;
	color: #999;
}

.nobg {
	background: none !important;
}

.blogtitle {
	font-size: 40px;
}

.blog-single, .similarblogs {
	margin: 0 20px 40px;
	border-bottom: 1px solid #ccc;
}

.stickybuttons {
	width: 50px;
	position: fixed;
	top: 120px;
	left: 0;
	z-index: 100;
}

.stickybuttons a {
	display: block;
	border-radius: 0;
	margin: 0;
}

.stickybuttons a:hover, .soc-icons a:hover {
	color: #fff;
}

.blog-single p {
	margin: 25px 0;
}

.graytxt {
	color: #999;
}

.fa-envelope {
	background: #F30;
	color: #fff;
}

.noshadow {
	box-shadow: none;
}

.noborder {
	border: none !important;
}

.modal {
	background: -moz-linear-gradient(left, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(182, 30, 86, 0.36) 0%,
		rgba(206, 47, 63, 0.36) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75b61e56',
		endColorstr='#75ce2f3f', GradientType=1); /* IE6-9 */
}

.emailform input, .emailform select, .emailform textarea {
	border-radius: 0;
	margin-bottom: 30px;
	padding: 10px 0;
	box-shadow: none;
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-weight: 700;
}

.emailform select option {
	color: #333;
}

.emailform input::-webkit-input-placeholder {
	color: #fff !important;
}

.emailform input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;
}

.emailform input::-moz-placeholder { /* Firefox 19+ */
	color: #fff !important;
}

.emailform input:-ms-input-placeholder {
	color: #fff !important;
}

.emailform input:focus, .emailform select:focus, .emailform textarea:focus
	{
	box-shadow: none;
}

#close-top {
	top: 7px;
}

#collect-chat-launcher-container {
	position: static;
	display: none;
}
/*classes added for Homepage */
#Recruitment {
	background: #f9f9fb;
}

#ThinQ {
	background-color: #f1f1f1;
}

#Social {
	background-color: #ffffff;
}

#latest {
	background-color: #fff;
}

#CompanyMotto {
	background-color: #ffcc00;
}

.text-bottom {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding-right: 20px;
}

.text-top {
	position: absolute;
	padding-right: 20px;
	top: 20px;
	left: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	/*height: 100% !important;*/
	bottom: 0;
	margin-bottom: 0;
}

.carousel-inner>.item {
	margin-top: 60px;
}

.ltblue-bg {
	background: #ecf2f2;
}

.readmore {
	padding: 5px 20px;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
}

.readmore:hover {
	background: #6fb347;
	color: #fff;
}

.applybtn {
	padding: 5px 35px 5px;
	border: 1px solid #fff !important;
	display: inline-block;
	font-size: 18px;
	background: #31a5dd;
	color: #fff !important;
	/*background: #31a5dd url(../imgs/arrow.png) no-repeat 10px center;*/
}

.applybtn:hover {
	/*background: #6fb347 url(../imgs/arrow.png) no-repeat 10px center;*/
	color: #fff;
	background: #6fb347;
}

.whitcolor {
	color: #fff;
}

.scrollto123 h1 {
	padding: 50px 0 10px 0;
}

.section-hd {
	margin: 50px 0;
	font-size: 46px;
	font-weight: 700;
}

.section-hd-text {
	margin: 20px 20% 50px;
	font-size: 18px;
}

.marg20 {
	margin: 20px;
}

.box1 {
	margin-bottom: 20px;
}

.box2 {
	padding: 10px 20px 3px;
	background: #31a5dd;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}

.graybox {
	padding: 15px 20px 15px 40px;
	background: #f1f1f1;
	position: relative;
}

.bluebox2 {
	padding: 15px 20px 15px 40px;
	background: #31a5dd;
	position: relative;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

.bluebox4 {
	padding: 5px 20px 5px 40px;
	border-radius: 5px 5px 0 0;
}

.bluebox4 h2 {
	padding: 5px 10px;
	margin-top: 10px;
}

.blk-overlay {
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.bot {
	bottom: 0;
}

.box3 p {
	padding: 20px 20px 20px 40px;;
	color: #fff;
}

.box3 p span {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.greenbg {
	background: #6fb347;
	padding: 80px 20px 40px
}

.greenbg a {
	color: #fff;
}

.latest-icon {
	width: 40px;
	display: block;
}

.greenbgtxt {
	margin-bottom: 30px;
}

.dgraybg {
	padding: 40px 0;
}

.greenbg a:hover {
	color: #f1f1f1;
}

.footerbg {
	background: url(../images/4224.jpg) no-repeat;
	background-size: 100% 100%;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	top: 80px;
	left: 15%;
	z-index: 10;
	color: #fff;
}

.carousel-caption h3 {
	font-size: 72px;
	font-weight: 700;
}

.item {
	background: #000;
}

.item img {
	opacity: 0.6;
}
/*css for career page*/
.careerbanner video {
	min-width: 100%;
	min-height: 100%;
	opacity: 0.7;
}

.careerbanner .carousel-caption {
	text-align: left;
	width: 50%;
	top: 30%;
	left: 5%;
}

.careerbanner .carousel-caption h1 {
	font-weight: 700;
	font-size: 55px;
	color: #fff;
}

.careerbanner .carousel-caption p {
	font-size: 18px;
}

.sectionpadd {
	padding: 40px 0;
}

.campusbaner {
	margin-top: 55px;
	margin-left: 4px;
}

.campusbaner .row1 {
	margin-bottom: 3px;
}

.campusbaner .row1>div {
	position: relative;
	vertical-align: top;
}

.textoverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #fff;
}

.textoverlay h4 {
	color: #31a5dd;
	font-size: 34px;
	font-weight: 700;
	padding: 40px 30px;
}

.videooverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	opacity: 0;
}

.videooverlay:hover {
	opacity: 1.0 !important;
}

.searchbox-campus {
	position: absolute;
	width: 300px;
	left: 40%;
	top: 250px;
	z-index: 1;
	text-align: center;
}

.jobsearchbtn {
	position: absolute;
	right: 0;
	border: none;
	background: none;
	top: 5px;
}

.searchinpt {
	border: 3px solid #333;
	width: 100%;
	padding: 5px 10px;
}

.map {
	background: #fff;
	position: relative;
}

.map-wrapper {
	position: relative;
}

.mappopup {
	position: absolute;
	color: #000;
	transition: all 3s;
}

@
keyframes anim { 0% {
	display: none;
	opacity: 0;
}

1%
{
display
:
 
block
;

 
opacity
:
 
0;
transform
:
 
scale
(0);


}
100%
{
opacity
:
 
1;
transform
:
 
scale
(1);


}
}
.padd40right {
	padding: 0 40px 0 0;
}

.sticky-contact a {
	color: #fff !important;
	outline: none;
	border: none;
}

.sticky-contact a:hover i {
	background: none;
}

.sticky-contact i {
	font-size: 20px;
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 0;
	background: none;
}

.sticky-contact i img {
	width: 25px;
	margin: 0;
	padding: 0;
}

.call {
	background: #F00;
	padding: 10px;
	width: 100px;
	right: -60px;
	position: fixed;
	top: 100px;
	z-index: 100;
}

.mail {
	background: #39F;
	padding: 10px;
	width: 100px;
	right: -59px;
	position: fixed;
	top: 142px;
	z-index: 100;
}

.chat {
	background: #F90;
	padding: 7px 10px;
	width: 100px;
	right: -60px;
	position: fixed;
	top: 184px;
	z-index: 100;
}

.sticky-contact>div {
	transition: all ease-in .5s;
}

.sticky-contact>div:hover {
	right: 0;
}

.aos-item {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: #ccc;
	text-align: center;
	color: #FFF;
	font-size: 3em;
}
/******  MODAL ******/
.loginmodal-container {
	padding: 40px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container select {
	margin-bottom: 10px;
}

.form-hd {
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}

.modal-dialog {
	margin: 0 auto;
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	transition: opacity ease 0.5s;
}

.login-help {
	font-size: 12px;
}

.formbtn {
	border: none;
	border-radius: 4px;
	background: #31a5dd;
	color: #fff;
	padding: 5px 10px !important;
	text-transform: uppercase;
}

.leaderbox {
	border: 4px solid #fff;
	box-shadow: 0 0 15px #999;
	position: relative;
}

.txt-overlay {
	font-size: 12px;
	background: #fff;
	position: absolute;
	width: 100%;
	min-height: 20px;
	bottom: -2px;
	transition: all 0.5s ease-in-out;
}

.txt-overlay p {
	text-align: center;
}

.hd_main1 {
	transition-property: top, left;
	transition-duration: 1s, 1s;
	transition-delay: 0s, 1s;
}

.map-new {
	background: #4eab98;
	position: relative;
	color: #fff;
	padding: 20px 80px 60px;
}

.dflex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.servicesdd .column ul li a strong{
	display:block;
	
}*/
.readmoreblk {
	color: #000;
	border: 1px solid #000;
	margin-top: 10px;
	padding: 5px 20px;
	display: inline-block;
	margin-left: 0;
}

.readmoreblk:hover {
	color: #fff;
	border: 1px solid #fff;
	background: #6fb347;
}

.gradient-hd {
	font-size: 60px;
	font-weight: 300;
	color: #4298b5 !important;
	background: -webkit-linear-gradient(0deg, #77ccf0, #6fb34b) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	padding-bottom: 15px;
}

.gradient-hd2 {
	font-size: 36px;
	font-weight: 300;
	line-height: 100%;
	color: #4298b5 !important;
	background: -webkit-linear-gradient(0deg, #77ccf0, #6fb34b) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	padding-bottom: 15px;
}

.icon-circle {
	margin: auto;
	width: 150px;
	height: 150px;
	padding: 25px;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #31a5dd;
}

.icon-txt-services {
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexrow {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 10px;
	margin-top: 40px;
}

.customertxt {
	padding: 0 10px;
}

.flextext {
	height: 300px;
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.textcol {
	padding: 0 40px;
	display: flex;
	align-items: center;
}

.textcol h2 {
	color: #31a5dd;
}

.no-rt-marg {
	margin-right: 0;
}

.no-lf-marg {
	margin-left: 0;
}

.keydriver {
	color: #31a5dd;
}

.marglr-15 {
	margin: 0 -15px !important;
}

.strategies {
	background: #f1f1f1;
}

.bluebg {
	background: #31a5dd !important;
	color: #fff;
}

.healthcare1 {
	background: url(../images/banner_1.jpeg) no-repeat;
	background-size: cover;
}

.healthcareoverlay {
	color: #fff;
	background: -moz-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b346',
		endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
}

.healthcareoverlay h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 20px;
}

.healthcareoverlay p, .healthcareoverlay-right p {
	margin-bottom: 20px;
}

.healthcare2 {
	background: url(../imgs/healthcare-trizettopromo_bg.jpg) no-repeat right
		center;
	background-size: cover;
}

.healthcareoverlay2 h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 20px;
}

.healthcareoverlay-right {
	color: #fff;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(53, 167, 222, 1) 54%, rgba(49, 165, 221, 1) 55%,
		rgba(112, 179, 70, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff',
		endColorstr='#70b346', GradientType=1); /* IE6-9 */
}

.healthcare2-left {
	background: url(../imgs/healthcare-trizettopromo_left.jpg) no-repeat
		left center;
	background-size: cover;
}

.careerbanner {
	margin-top: 80px;
	position: relative;
	background: #000;
}

.career-inner-banner {
	margin-top: 80px;
	position: relative;
}

.banner-box1 {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 5%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.thinqbaner1 .banner-box1 {
	background: rgba(0, 0, 0, 0.3);
}

.campusbaner {
	margin-top: 50px;
	margin-left: 0;
}

.searchbg {
	background: url(../imgs/searchbg.jpg) no-repeat right center;
	background-size: cover;
}

.searchoverlay {
	padding: 60px 0;
	color: #fff;
	background: -moz-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(112, 179, 70, 1) 0%,
		rgba(49, 165, 221, 1) 45%, rgba(53, 167, 222, 1) 46%,
		rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b346',
		endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
}

.searchbtn {
	padding: 10px;
	background: #09C;
	color: #fff;
	border: 1px solid #fff;
}

.jobsearchbox {
	margin: 20px 0;
}

.jobsearchbox input {
	border: 1px solid #fff;
	width: 35%;
	padding: 0 5px;
	height: 42px !important;
	color: #333;
}

.fs14 {
	font-size: 14px !important;
}

.bold {
	font-weight: 700;
}

.links a {
	margin-right: 5px;
}

.lightbluebg {
	background: #55bde5 !important;
	position: relative;
	border: none !important;
	color: #fff;
}

.orangebg {
	background: #F93 !important;
	border: none !important;
	color: #fff;
}

.blucolor {
	color: #31a5dd;
}

.line {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
}

.wpimg {
	margin: 8px 4px;
	position: relative;
	/*cursor:pointer;*/
}

.careerpage, .campuspage {
	padding-right: 0 !important;
}

.campuspage .modal-backdrop, .careerpage .modal-backdrop {
	position: absolute !important;
	overflow: visible;
}

.careerpage .modal-backdrop.in {
	display: none;
	opacity: 0;
}

.modal-open {
	overflow-y: scroll !important;
	width: 100%;
}

.pointer {
	cursor: pointer;
}

@
keyframes anim3 { 0% {
	display: none;
	opacity: 0;
}

1%
{
display
:
 
block
;

 
opacity
:
 
0;
transform
:scaleY(0)
;


}
100%
{
opacity
:
 
1;
transform
:
 
scaleY
(1);


}
}
.button.close {
	z-index: 10;
}

.bluishgray {
	background: #ecf2f2;
}

.paratext p {
	padding: 0 40px;
}

.afterscroll {
	display: none;
}

.widerbtn {
	padding-left: 40px !important;
	padding-right: 40px !important;
	font-weight: 700;
}

.cenerline {
	text-align: center;
}

.cenerline a {
	color: #FF0;
	font-weight: 700;
	padding: 15px 0 5px 0;
	display: inline-block;
	margin-left: 150px;
}

.campujob {
	padding-top: 40px;
}

.redcolor {
	color: #F00 !important;
}

.text-content {
	padding: 40px 60px;
	box-shadow: 0 0 5px #ccc;
}

.whitebox {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	background: #fff;
}

.box-hd {
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	border-radius: 5px 5px 0 0;
}

.formsection {
	background: #f9f9f9;
}

i:hover {
	background: none !important;
}

#hide {
	display: none;
}

.applybtn:focus {
	color: #fff;
}

.border {
	border: 1px solid #ccc;
}

.text-content span, .text-content input {
	vertical-align: middle;
	display: inline-block;
}

.padd10 {
	padding: 10px;
}

.valign-m {
	vertical-align: middle;
	align-items: center;
}

.justifycenter {
	justify-content: center;
}

.justify-full {
	justify-content: stretch;
}

.ui-datepicker-year, .ui-datepicker-month {
	height: 30px !important;
	margin: 4px !important;
}

.fs12 {
	font-size: 12px;
}

.loginform .input-group {
	margin-top: -20px;
}

.loginform .input-group2 {
	margin-top: -20px;
}

#termsModal {
	background: #fff;
	width: 80%;
	margin: 10%;
	padding: 20px 30px;
}

.loginform input, .loginform select {
	margin-bottom: 10px;
}

.marks input, .marks span {
	vertical-align: middle;
	margin: 0 5px;
}

.marks-radio-buttons {
	display: inline-block;
	vertical-align: middle;
}

.yellobg {
	background: #f7c93b;
}

.modal {
	overflow-y: auto;
}

.prompt {
	padding-bottom: 40px;
}

.prompt p {
	margin-top: 20px;
}

.highlightlink {
	font-weight: 700;
	color: #F90 !important;
}

.huerotate:hover img {
	filter: hue-rotate(-84deg);
}

.contrast:hover img {
	-webkit-filter: contrast(160%);
	filter: contrast(160%);
}

.dd-small {
	width: 100% !important;
}

.dd-small li {
	width: 100% !important;
}

.dd-small li a {
	color: #039;
}

.badgebox {
	opacity: 0;
}

.badgebox+.badge {
	/* Move the check mark away when unchecked */
	text-indent: -999999px;
	/* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus+.badge {
	/* Set something to make the badge looks focused */
	/* This really depends on the application, in my case it was: */
	/* Adding a light border */
	box-shadow: inset 0px 0px 5px;
	/* Taking the difference out of the padding */
}

.badgebox:checked+.badge {
	/* Move the check mark back when checked */
	text-indent: 0;
}

/*upload btn*/
.hide {
	display: none;
}

.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #bbbbbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn {
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15)
		rgba(0, 0, 0, 0.25);
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.margt0 {
	margin-top: 0;
}

.linkbtn {
	background: none;
	border: none;
	color: #069;
	font-size: 16px;
	font-weight: 700;
	margin: 0 10px;
}

.paddtb20 {
	padding: 20px 0;
}

.paddtb15 {
	padding: 15px 0;
}

.video-banner {
	position: relative;
	margin-top: 80px;
	margin-bottom: -5px;
}

.video-banner video {
	width: 100%;
}

.slideroverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.homevideoslider {
	margin-top: 13%;
	position: absolute;
	width: 100%;
	z-index: 101;
}

.homevideoslider h1 {
	font-weight: bold;
	color: #fff;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	background: none;
}

.homevideoslider .item {
	background: none;
	width: 100%;
}

.homevideoslider .carousel-control.right, .homevideoslider .carousel-control.left
	{
	background: none;
}

.navbar-toggle {
	z-index: 102 !important;
}

.new .jobbox {
	margin-bottom: 15px;
}

.campuspage {
	padding-top: 50px;
}

.shadowbox {
	background: #fff;
	box-shadow: 0 0 15px #ccc;
	padding: 30px 0;
	position: relative;
	z-index: 1;
}

.videotxt a {
	color: #fff;
	cursor: pointer !important;
}

.videotxt {
	position: absolute;
	width: 80%;
	margin: 20% 10%;
	color: #fff;
	text-align: center;
	z-index: 1;
}

.videobg {
	margin-top: -250px;
	margin-bottom: -5px;
}

.form-header {
	background: #fff;
	padding: 10px 20px 1px;
	text-align: left;
}

.text-left {
	text-align: left;
}

.career-inner-banner video {
	width: 100% !important;
}

.margt10 {
	margin-top: 10px;
}

.top0 {
	top: 0 !important;
}

.stats {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #31a5dd;
	color: #fff;
	padding: 20px 0 40px;
	text-align: center;
}

.stats h1 span {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

.rtbuttons a {
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	background: #6C0;
}

.maroonbg {
	background: rgb(169, 3, 41); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329',
		endColorstr='#6d0019', GradientType=1); /* IE6-9 */
}

.eventbanner video {
	opacity: 0.5;
}

section.module.parallax-2 {
	background-image: url(../images/eventbg-parallex.jpg);
}

.eventicon {
	border-bottom: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.eventicon i {
	font-size: 46px;
}

.eventicon i.fa {
	width: auto;
}

.iconwrapper {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	text-align: center;
	padding: 15px 10px;
}

.iconwrapper:hover {
	background: rgba(0, 0, 0, 0.9);
}

.redbox2 {
	background: #ed2638;
	color: #fff;
	font-size: 18px;
}

.redbox2>div {
	padding: 30px;
}

.Qlogoblue {
	width: 50px;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.padd15 {
	padding: 15px;
}

/*radio*/

/* The radio */
.radio {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	margin-right: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/* Hide the browser's default radio button */
.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkround {
	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-color: #31a5dd;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
	background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
	left: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #31a5dd;
}

.helptextbox {
	position: absolute;
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	padding: 20px;
	margin: 0 30px;
	z-index: 1;
	border-radius: 5px;
	width: 260px;
}

.helptextbox ul {
	margin: 0;
	padding: 5px 20px;
}

.techicons {
	margin-top: 40px;
}

.techicons span {
	margin-top: -10px;
	font-size: 12px;
	display: block;
}

.techicons>div {
	text-align: center;
	width: 20%;
}

.techicons img {
	width: 65px;
	display: inline-block;
	margin-bottom: 10px;
}

.maroonbg-plain {
	background: #b61e56;
}

.mb-gradient {
	background: rgb(182, 30, 86); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(182, 30, 86, 1) 0%,
		rgba(96, 171, 248, 1) 64%, rgba(49, 165, 221, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b61e56',
		endColorstr='#31a5dd', GradientType=1); /* IE6-9 */
}

.qc-icon {
	width: 60px;
}

.stats span {
	padding: 5px 10px;
	display: block;
}

.marglr15 {
	margin: 0 15px;
}

.marglr20 {
	margin: 0 20px;
}

.login-prompt {
	margin: 40px auto !important;
}

.login-prompt input {
	padding: 5px;
}

.login-prompt .control-group {
	padding: 0;
}

.login-prompt label {
	font-weight: 400;
}

.login-prompt .controls {
	margin-bottom: 10px;
}

.prompthd {
	padding: 15px 20px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.login-prompt .btn {
	height: 44px;
}

.connect-facebook-btn i {
	font-size: 24px;
	vertical-align: middle;
	margin: 0 5px 5px;
}

.connect-facebook-btn {
	width: 100%;
	height: 45px;
	font-size: 14px;
	background-color: #3B5A97;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	line-height: 24px;
	padding-right: 35px;
	border-radius: 3px;
}

.connect-facebook-btn:hover {
	color: #fff;
}

.or {
	border-top: 1px solid #ccc;
	margin: 20px 0 0 0;
	text-align: center;
}

.or span {
	position: relative;
	display: inline-block;
	padding: 3px 10px;
	background: #fff;
	color: #666;
	margin-top: -20px;
	top: -10px;
}

.countryCode {
	width: 30%;
	display: inline-block !important;
}

.form-control-sm {
	display: inline-block !important;
	width: 65%;
}

.loginpage {
	margin-top: 20px;
}

.loginpagetabs span {
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 0 5px;
	display: inline-block;
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	margin-bottom: -1px;
}

.loginpage .tab-content {
	border: 1px solid #ccc;
}

.loginpage .prompthd {
	border-radius: 0;
}

.loginpage .padd20 {
	padding: 20px;
}

.forgtopassword {
	font-size: 12px;
	margin-top: -20px;
}

.solutionbanner {
	margin-top: 60px;
}

.solu-img {
	float: left;
	width: 30%;
}

.solu-txt {
	float: left;
	width: 60%;
	padding: 0 5%;
}

.solubox {
	margin-top: 40px;
}

.soltext2 {
	margin: 25px;
}

.soltext2 h1 span {
	display: block;
	width: 100px;
	height: 4px;
	border-radius: 2px;
	background: #31a5dd;
	margin-top: 20px;
}

.soltext2 h1 {
	margin-bottom: 25px;
}

.navbox {
	padding: 40px;
	border-right: 2px solid #fff;
}

.navbox a {
	color: #ccc;
}

.navbox1 {
	background: url(../images/background-6.png) no-repeat right center;
	background-size: cover;
	color: #fff;
}

.navbox2 {
	background: url(../images/pharma.png) no-repeat right center;
	background-size: cover;
	color: #fff;
}

.navbox3 {
	background: url(../images/background-8.png) no-repeat right center;
	background-size: cover;
}

.navbox4 {
	background: url(../images/background-9.png) no-repeat right center;
	background-size: cover;
	color: #fff;
	border: none;
}

.sectionnav {
	margin: 2px 0;
}

.pagetitle {
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	padding: 0 20px 20px;
}

.container2 {
	background: #fff;
	margin: 40px;
	padding: 20px;
}

#imagePreview {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.profile-content {
	padding: 20px;
}

.profile-content .form-control {
	margin-bottom: 15px;
	margin-top: 5px;
}

.editlink {
	font-size: 12px;
	float: right;
}

.phonenumber2 {
	width: 70% !important;
}

.margt-10 {
	margin-top: -10px;
}

.user-profilemenu {
	color: #31a5dd !important;
	margin-right: 100px;
}

.user-profilemenu>li>a {
	color: #31a5dd !important;
	padding: 12px !important;
}

.user-profilemenu>li>a:hover {
	background: none !important;
}

.title {
	width: 100px !important;
}

.profilerdio input {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 10px;
}

.profilerdio span {
	display: inline-block;
	vertical-align: middle;
}
.proofs label {
	font-weight: 400;
	font-size: 14px;
}
.disableLoading {background: none; opacity: 1;}
.enableLoading { z-index: 1500; background: #000   url('/images/loader.gif') no-repeat; background-size: 80px; background-position: center; opacity : 0.85; position: fixed; height: 100%; width: 100%;top:0}
.error {color: #F00 !important;}