@charset "utf-8";
/* CSS Document */
@media ( min-width :768px) {
	.modal-sm {
		width: 450px;
	}
	.threeimags {
		background: #ed2638
	}
	.navbar-toggle {
		display: block !important;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.collapse.in {
		display: block !important;
		width: 300px !important;
		position: absolute;
		right: 0;
		background: #fff;
		transition: all ease-in-out .5s;
	}
	.doctortext {
		right: 0;
	}
	.ngotext {
		bottom: 100px;
	}
	.policymakertext {
		bottom: 100px;
		right: 0;
	}
	.mobile-img {
		display: none;
	}
	.eventpage .logoblue {
		width: 150px;
		margin-top: 15px;
	}
	.progress {
		height: 30px;
	}
	.progress>div {
		padding: 5px 0;
	}
	.chat-txt {
		width: 70%;
	}
	.verticleline1 {
		background: url(../images/verticle-line-dotted.png) repeat-y center center;
	}
	.step {
		width: 150px;
		height: 150px;
		margin: 40px auto;
		padding: 10px 0;
		text-align: center;
		font-size: 84px;
	}
	.steptext {
		padding: 40px 40px 40px 0;
	}
	.supportfooter .sticky-contact .call {
		top: 40%;
		padding: 12px;
	}
	.supportfooter .sticky-contact .mail {
		top: 47%;
		padding: 12px;
	}
	.supportfooter .sticky-contact .chat {
		padding: 12px;
		top: 54%;
	}
	.leftmenu {
		width: 320px;
	}
	.profile-wrapper {
		display: flex;
	}
	.phonenumber {
		width: 250px !important;
	}
	.dflex-desktop {
		display: flex;
	}
	.loginbox {
		display: flex;
		margin: 50px 0;
	}
	.padd30 {
		padding: 30px !important;
	}
	.navbar {
		min-height: 30px;
	}
	.campujob .navbar {
		min-height: 50px;
	}
	.loginform p {
		margin-bottom: 25px;
	}
	.campusdescriptionmenu {
		margin-right: 110px;
	}
	.campus-profilemenu {
		margin-right: 110px;
	}
	.campus-profilemenu>li>a {
		color: #fff !important;
	}
	.campus-profilemenu .dropdown-menu  li {
		margin: 0 !important;
		padding: 0 15px;
	}
	.campus-profilemenu .dropdown-menu>li>a {
		padding: 0;
		margin: 0;
	}
	.jobdescription .active .top-bar2 .social-icons {
		display: none;
	}
	.jobdescription .active .navbar-nav {
		display: none;
	}
	.jobdescription .active .afterscroll {
		display: block;
	}
	.resultimg {
		width: 10%;
		display: inline-block;
		padding: 10px;
		vertical-align: top;
	}
	.resulttext {
		width: 88%;
		display: inline-block;
		padding: 10px;
		vertical-align: top;
	}
	.locationfield {
		margin: 0 15px !important;
	}
	.careersearchbox .searchoverlay {
		padding-bottom: 0;
	}
	.formflex {
		display: inline-flex;
		margin: 0;
	}
	.formflex select {
		margin: 0 15px 10px 0;
	}
	.formflex select {
		background: none;
		border: none !important;
		color: #fff;
		outline: none;
	}
	.formflex select optgroup {
		color: #333;
	}
	.formflex select option {
		color: #333;
		border: none;
	}
	.fresherig {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
	.fresher-txt {
		padding: 10px;
		vertical-align: top;
	}
	.thinqmenu .dropdown-item {
		line-height: 40px;
	}
	ul .dropdown-menu {
		width: 600px;
		padding: 10px 0;
	}
	.dropdown-menu li {
		float: left;
		width: 50%;
		display: inline-block;
		padding: 5px 2%;
	}
	.dropdown-menu li a {
		
	}
	.navbar-header, .navbar-right {
		transition: all ease-in 5s;
	}
	.active .navbar-header, .active .navbar-right {
		display: none !important;
		transition: all ease-in 5s;
	}
	.top-bar .navbar-brand {
		display: none;
	}
	.active .top-bar .navbar-brand {
		display: block;
		width: 180px;
		padding: 12px 0;
	}
	.dropdown-content {
		width: 600px;
	}
	.dropdown-item {
		line-height: 30px;
	}
	.active .dropdown-item {
		line-height: 53px;
	}
	.search-box {
		float: right;
		padding: 0 5px;
		position: relative;
	}
	.search-box input {
		height: 50px !important;
		padding: 5px 10px;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		border-top: none;
		color: #ccc;
	}
	.search-box input placeholder {
		color: #ccc
	}
	.search-box button {
		position: absolute;
		background: none;
		border: none;
		right: 60px;
		top: 10px;
	}
	.active .search-box {
		display: none;
	}
	.loginimg {
		width: 30px;
		margin: 10px 0 0 20px;
	}
	.thinqmenu .loginimg {
		width: 24px;
		margin: 9px 20px 0 0;
	}
	.careerlogin {
		width: 145px;
	}
	.careerlogin .loginimg {
		width: 18px;
		margin: 7px 20px 0 0;
		display: inline-block;
	}
	.active .toplinks ul li {
		font-size: 14px;
	}
	.careerheader .navbar-brand {
		display: none !important;
	}
	.active .top-bar2 {
		top: -60px; ! important;
		position: absolute;
		width: 100%;
	}
	#panel {
		width: 250px;
	}
	#panel li {
		float: none;
		display: block;
		padding: 5px 2%;
	}
	.content {
		width: 100%;
		height: 100%;
	}
	.content>section {
		width: 100%;
		clear: both;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
		.thumbnail a>img, .thumbnail>img {
		height: 100% !important;
		width: 100% !important;
	}
	.triangle1 {
		min-height: 100vh;
		background: url(../imgs/triangle1.jpg) no-repeat;
		background-size: cover;
	}
	.triangle3 {
		min-height: 100vh;
		background: url(../imgs/triangle3.jpg) no-repeat;
		background-size: cover;
	}
	.trianfl2wrap {
		position: absolute;
		width: 60%;
		left: 20%;
		/* bottom: -10px; */
		z-index: 1;
		text-align: center;
		height: 100vh;
		background: url(../imgs/triangle2a.png) no-repeat;
		background-size: 100% 100%;
	}
	.col2txt {
		position: absolute;
		bottom: 20px;
		width: 100%;
		padding: 0 50px;
	}
	.triangle2 {
		
	}
	.kwadrat {
		height: 100vh;
	}
	.trojkat {
		position: relative;
		overflow: hidden;
		transform: rotate(45deg) skew(10deg, 10deg);
		/* width: 200px; */
		height: 105vh;
		margin: 39% 0 0 -6px;
	}
	.trojkat_bg {
		position: absolute;
		width: 200%;
		height: 150vh;
		top: -45%;
		left: -50%;
		z-index: -1;
		background: url(../imgs/triangle2.jpg) no-repeat;
		background-size: 100%;
		background-position: center top;
		transform: skew(-10deg, -10deg) rotate(-45deg);
		transition: .3s;
	}
	.carousel {
		
	}
	.homeslider .imageslide {
		height: 60vh;
	}
	.homeslider .videoslide {
		height: 80vh;
	}
	.homeslider .videoslide video {
		width: 100% !important;
	}
	.recruitmentbg1 {
		
	}
	.box-height-eq2 {
		height: 50vh;
	}
	.wegrow {
		font-size: 20px;
		line-height: 120%;
		padding: 0 20px 0;
		margin-left: 0;
	}
	.thinqbg1, .thinqbg2, .thinqbg3, .thinqbg4 {
		padding: 20px;
		height: 70vh;
	}
	.col-20 {
		width: 20%;
		display: inline-block;
	}
	.workplace .col-20 {
		width: 19.5%;
		vertical-align: top;
	}
	.col-40 {
		width: 38%;
		display: inline-block;
	}
	.leaaderboaard .spacer40 {
		height: 40px;
	}
	.leaaderboaard .spacer80 {
		height: 80px;
	}
	.leaaderboaard .spacer20 {
		height: 20px;
	}
	.servicesdd>div {
		display: flex;
	}
	.aboutdd {
		margin-left: 25%;
	}
	.aboutdd>div {
		display: flex;
	}
	.right-desktop {
		float: right;
	}
	.leadersrow>div {
		width: 20%;
	}
	.alliancerow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.quantegaworld {
		position: absolute;
		text-align: left;
		padding-top: 20px;
		bottom: 80px;
		left: 30px;
	}
	.top-left {
		top: 5px !important;
		left: -100px;
	}
	.top-right {
		top: 5px !important;
		text-align: right;
		right: -100px !important;
	}
	.bot-right {
		text-align: right;
		bottom: 0;
		right: -100px !important;
	}
	.map-new .section-hd {
		margin: 20px 0 20px 0;
	}
	.howwehire .col-20 {
		width: 19.5%;
	}
	.smallinpt {
		width: 15% !important;
	}
	.show-xs {
		display: none;
	}
	.campjob .navbar-collapse {
		margin-right: 200px !important;
	}
	.active .top-bar2 .social-icons {
		z-index: 1;
	}
	.tabs-hd-bg {
		height: 55px;
		background: #066;
	}
	.mobile-footer {
		display: none;
	}
	.nopadd-desktop {
		padding: 0;
	}
	.bluebox3 {
		border-radius: 5px 0 0 0;
	}
	.fresher-txt3 h2, .fresher-txt3 p {
		padding: 10px 30px;
		font-size: 14px;
	}
	.border-rt-desktop {
		border-right: 1px solid #ccc;
	}
	.mobile-img {
		display: none;
	}
	.loginicon-mobile {
		disply: non;
	}
	.formsection .panel-heading img {
		display: none;
	}
	.rtbuttons {
		float: right;
		margin: 15px 10px;
		margin-right: 60px;
	}
	.number-wrapper {
		display: none;
	}
	.panel-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.chatpannel {
		padding-bottom: 80px;
	}
	.back {
		display: none;
	}
	.profiledateils strong {
		display: inline-block;
		min-width: 200px;
	}
	.centerline-mobile {
		display: none
	}
	.mobilelink {
		padding: 20px;
		float: right;
	}
	.navbar-toggle {
		margin-top: 15px !important;
		margin-right: 0;
	}
	.navbar-toggle .icon-bar {
		background: #333;
	}
	.desktop-nav {
		width: 100%;
	}
	.desktop-nav li {
		float: none;
		display: block;
	}
	.desktop-nav li a {
		display: block;
		padding: 15px 30px;
	}
	.rtbuttonsmobile {
		display: none;
	}
}

@media ( max-width :767px) {
	.date {
		margin-top: 10px;
	}
	.newslinks {
		margin-bottom: 20px;
	}
	.navbar-header {
		text-align: center;
	}
	.footeroverlay {
		padding: 0 0 50px;
	}
	.proofs label {
		display: block;
		margin-top: -15px;
	}
	.proofs .form-control-sm {
		width: 100%;
	}
	.pagetitle {
		padding: 0;
	}
	.container2 {
		background: #fff;
		margin: 20px;
		padding: 15px;
	}
	.navbox {
		border-bottom: 2px solid #fff;
		border-right: none;
		padding: 10px;
	}
	.navbar-minimal.open>.navbar-menu {
		right: 0;
	}
	.navbar-minimal.open {
		width: 100%;
	}
	.navbar-minimal>.navbar-toggler, .navbar-minimal {
		min-height: 42px;
		border: none;
	}
	.navbar-toggle {
		margin-top: -28px;
		margin-right: 0;
	}
	.centerline-mobile {
		width: 100%;
		text-align: center;
		font-size: 12px;
	}
	.mobilelink {
		position: absolute;
		width: 100%;
		text-align: center;
		background: #31a5dd;
		padding: 5px;
		color: #fff;
		top: 42px;
		left: 0;
	}
	.techicons img {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.techicons h4 {
		margin-top: 0;
	}
	.techicons>div {
		width: 100%;
	}
	.profilehd {
		padding: 10px;
	}
	.profiledateils strong {
		display: block;
	}
	.questionwrapper  label {
		font-size: 12px;
	}
	.profile-content {
		padding: 10px;
	}
	.profile-wrapper {
		margin-top: 10px;
	}
	.back {
		font-size: 18px;
		color: #fff;
		vertical-align: middle;
		padding-left: 0;
		margin: 10px 5px;
		width: 30px;
		position: absolute;
		left: 0;
	}
	.panel-footer {
		position: relative;
		margin-bottom: 60px;
	}
	.campus-support {
		padding-bottom: 180px;
	}
	.contacts {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 100;
		display: flex;
		align-content: center;
		justify-content: center;
		background: #31a5dd;
		margin: 0 0 0 -15px;
	}
	.chat-txt {
		width: 80%;
	}
	.contactbox {
		box-shadow: none;
		background: none;
		margin: 5px;
		padding: 0;
	}
	.contactname {
		display: none;
	}
	.me-img {
		width: 50px;
	}
	.number-wrapper {
		display: flex;
		position: fixed;
		bottom: -5px;
		width: 100%;
		font-size: 30px !important;
		font-weight: bold;
		padding-bottom: 15px;
		background: #31a5dd;
	}
	.number-wrapper a {
		background: #333;
		display: block;
		padding: 10px;
		text-align: center;
		border-right: 1px solid #39C;
		color: #fff;
	}
	.steptext {
		padding: 90px 20px 20px 20px;
	}
	.Qlogoblue {
		width: 40px;
		margin: 5px 15px;
	}
	section.module.parallax-2 {
		background-image: url(../images/eventbg-parallex.jpg);
		background-size: cover;
	}
	.rtbuttons {
		display: none;
	}
	.rtbuttonsmobile a {
		padding: 5px 20px;
	}
	.rtbuttonsmobile {
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0;
		margin-left: -15px;
		display: flex;
		align-content: stretch;
		justify-items: space-evenly;
		background: #000;
	}
	.chatlink {
		padding: 5px 18px !important;
	}
	.chatlink i img {
		width: 25px;
	}
	.rtbuttonsmobile span {
		font-size: 11px;
		display: block !important;
	}
	.rtbuttonsmobile i {
		display: block !important;
	}
	.rtbuttons a {
		margin: .5px;
	}
	.eventbanner .carousel-caption {
		top: -15px;
	}
	.eventbanner .carousel-caption h1 {
		font-size: 16px;
	}
	.eventbanner .readmore {
		display: inline-block;
		padding: 2px 10px;
	}
	.statnumber {
		margin-bottom: 20px;
	}
	.eventbanner {
		margin-top: 72px;
	}
	.stats h1 span {
		font-size: 12px;
	}
	.eventlogo img {
		width: 50px;
	}
	.eventlogo2 img {
		width: 150px;
	}
	.stats {
		position: relative;
		margin-top: -5px;
		padding: 20px;
	}
	.topicswrapper img {
		width: 30px;
	}
	.topics h2 {
		margin-top: 20px;
	}
	.supporticons {
		margin: 10px 0;
	}
	.supportbox {
		margin-bottom: 10px;
	}
	.supportbanner input {
		padding: 5px 10px;
		font-size: 14px;
		height: 30px !important;
		border: none;
		width: 90%;
	}
	.supportbanner .carousel-caption {
		top: 16px !important;
	}
	.supportbanner h3 img {
		width: 40px;
	}
	.queries {
		display: none;
	}
	.btnwrapper {
		top: -5px;
		right: 5px;
	}
	.supportfooter {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #f1f1f1;
		padding: 4px 0 4px 4px;
		z-index: 100;
	}
	.supportfooter .sticky-contact {
		display: block;
	}
	.supportfooter .sticky-contact .call, .supportfooter .sticky-contact .mail,
		.supportfooter .sticky-contact .chat {
		position: static;
		display: inline-block;
		margin: 0 !important;
		width: 32%;
	}
	.formsection {
		padding-bottom: 70px;
	}
	.loginicon-mobile {
		width: 30px;
		margin-right: 10px;
	}
	.formsection .panel-heading {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 100;
	}
	.with-nav-tabs.panel-primary .nav-tabs>li.active>a, .with-nav-tabs.panel-primary .nav-tabs>li.active>a:hover,
		.with-nav-tabs.panel-primary .nav-tabs>li.active>a:focus {
		background: #31a5dd;
		border: none;
	}
	.formsection .panel-heading span {
		display: none;
	}
	.formsection .panel-heading img {
		width: 40px;
	}
	.formsection .panel-heading, .formsection .container {
		padding: 0;
	}
	.loginicon-mobile {
		float: right;
		font-size: 36px;
	}
	.prompt-wrapper .inpt {
		margin-bottom: 2px;
		height: 25px;
	}
	.modal {
		padding-top: 20px;
	}
	.prompt-wrapper {
		margin-top: 0;
		font-size: 12px;
	}
	.videobg video {
		display: none;
	}
	.videobg {
		margin-top: -50px;
		margin-bottom: -5px;
	}
	.nowhiring .sectionpadd {
		padding: 10px 20px 0;
	}
	.videotxt {
		width: 100%;
		margin: 10% auto;
	}
	.shadowbox {
		padding: 5px;
	}
	.graduatefreshercontents {
		padding: 0;
	}
	.campuspage .active2 .navbar-brand {
		display: none;
	}
	.campuspage .cenerline {
		display: none;
		position: absolute;
		top: 40px;
		left: 10px;
		text-align: left;
	}
	.campuspage .active2 .cenerline {
		display: inline-block;
	}
	.mobile-footer {
		text-align: center;
		padding: 0;
		position: fixed;
		font-size: 13px;
		bottom: 0;
		width: 100%;
		background: #708596;
		font-weight: 700;
		z-index: 1;
	}
	.mobile-footer a {
		padding: 10px 5px;
		display: inline-block;
		color: #fff;
	}
	.bluebox2 {
		padding: 5px 20px 5px 40px;
	}
	.homevideoslider h1 {
		font-size: 16px;
	}
	.homevideoslider {
		margin-top: -16%;
	}
	.rc-anchor-normal {
		height: 74px;
		width: 231px !important;
	}
	.applybtn {
		padding: 5px 15px 5px;
		font-size: 13px;
	}
	.panel-body {
		padding: 15px 0;
	}
	.loginform .input-group {
		margin-top: -5px;
	}
	.phonenumber {
		width: 206px !important;
	}
	.phonenumber2 {
		width: 180px !important;
	}
	.faq  h3 {
		margin-top: 30px;
	}
	.mobile-spacer40 {
		height: 40px;
		clear: both;
	}
	.cenerline {
		margin-top: -25px;
		position: absolute;
		width: 63%;
		text-align: center;
		left: 20%;
	}
	.cenerline a {
		display: block;
		padding: 0 0 20px 0;
		margin: 0;
		color: #F30;
		clear: both;
		font-size: 12px;
	}
	.highlight-mobile {
		background: #31a5dd;
		margin-right: 85px;
		display: inline-block;
		text-align: center;
		width: 125px;
		margin: auto;
	}
	.prompt p {
		font-size: 12px;
	}
	.form-hd2 {
		font-size: 14px;
	}
	.loginmodal-container {
		padding: 20px;
	}
	.fresher-hdtxt {
		margin-bottom: 10px;
	}
	.row1-jobox {
		padding: 0;
	}
	.fresher-txt {
		padding: 10px;
	}
	.campu-baner-textoverlay {
		width: 100%;
		left: 0;
		bottom: 0;
	}
	.campu-baner-textoverlay h2 {
		font-size: 12px;
	}
	.healthcareoverlay2 {
		background: rgba(255, 255, 255, 0.9);
	}
	.with-nav-tabs.panel-primary .nav-tabs>li {
		float: none;
		display: block;
		margin-bottom: 3px;
	}
	.loginactive .navbar-nav>li>a {
		background: #31a5dd !important;
	}
	.loginform {
		padding: 15px;
	}
	.loginform h2 {
		margin-bottom: 20px;
	}
	.applied-jobs {
		display: block;
		padding: 10px;
		border: none;
	}
	.careerloginpage .navbar-collapse {
		background: #31a5dd;
	}
	.careerloginpage .ddfull {
		background: #fff !important;
		padding: 20px !important;
	}
	.careerloginpage .qlogo {
		top: 30px;
	}
	.text-content {
		padding: 20px;
	}
	.whitbg-xs {
		background: #fff;
	}
	.campujob {
		padding-top: 70px;
	}
	.qlogo {
		left: 10px;
	}
	.jobdescriptionbanner {
		margin-top: 80px;
	}
	.desc {
		padding: 15px;
	}
	.jobdetailbox {
		padding: 15px;
	}
	.desc span {
		margin: 0 5px;
		line-height: 100%;
	}
	.resultimg {
		width: 30%;
		margin-bottom: 10px;
	}
	.resultrow h4 {
		font-size: 13px;
	}
	.turn span {
		font-size: 12px;
	}
	.turn {
		padding: 5px;
	}
	.career-inner-banner .carousel-caption {
		top: 0px;
	}
	.career-inner-banner .carousel-caption h3 {
		font-size: 24px;
	}
	.campusjob-banner .carousel-caption {
		top: 0px;
	}
	.campusjob-banner .carousel-caption h3 {
		font-size: 24px;
	}
	.paratext {
		padding: 20px 0;
	}
	.bluishgray .dflex, .bluishgray2 .dflex {
		display: block;
	}
	.jobsearchbox input {
		width: 100%;
		margin-bottom: 10px;
	}
	.campusbaner-tile {
		margin: 0 !important;
	}
	.searchbg {
		background: url(../imgs/searchbg.jpg) no-repeat -800px center;
		background-size: cover;
	}
	.searchoverlay {
		padding: 30px 0 10px;
	}
	.workplacepopup {
		padding: 10px;
		font-size: 11px;
	}
	.workplacepopup p {
		margin: 5px;
	}
	.internscol {
		margin: 10px;
	}
	.internscol>div {
		margin: 0 0 20px;
	}
	.country-list {
		margin: 15px;
		width: 80% !important;
		color: #000;
	}
	.mobileprompt {
		position: absolute;
		width: 90%;
		left: 5%;
		padding: 15px 10px 10px;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0 0 20px #333;
		border-radius: 5px;
		color: #000;
		top: 200px;
	}
	.campujob .navbar-header {
		height: 40px;
	}
	.fresher-txt2 h2 {
		padding: 5px 20px;
	}
	.fresher-txt2 p {
		padding: 5px 20px;
		font-size: 14px;
	}
	.nomargin {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.gradient-hd {
		font-size: 30px;
	}
	.alliancerow .column {
		margin: 10px 0;
		text-align: center;
	}
	.leadersrow {
		display: block;
	}
	.sectionpadd {
		padding: 20px 0;
	}
	.hide {
		display: none;
	}
	.display_content {
		display: block;
	}
	.aboutdd .collapse a {
		display: block !important;
	}
	.aboutdd .collapse>ul {
		display: none;
	}
	.aboutdd .collapse>ul:target {
		display: block;
	}
	.ourcompany {
		display: none;
	}
	.dropdown-content {
		padding: 15px;
	}
	.thinqbg2 {
		background: url(../imgs/tech-mobile.jpg) no-repeat;
		background-size: cover;
	}
	.thinqbg3 {
		background: url(../imgs/jobs-mobile.jpg) no-repeat;
		background-size: cover;
	}
	.thinqbg4 {
		background: url(../imgs/media-monile.jpg) no-repeat;
		background-size: cover;
	}
	.box3 p {
		padding: 10px 0px 5px 35px;
	}
	.homeslider .item {
		height: 200px !important;
	}
	.mobilelast .leaderbox:hover .txt-overlay {
		height: 100%;
		left: -100% !important;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
	}
	.txt-overlay {
		font-size: 9px;
	}
	.leader-details {
		padding: 5px;
		line-height: 100%;
	}
	.leadername {
		padding: 0 5px 0;
	}
	.sticky-contact {
		display: none;
	}
	.map {
		display: none;
	}
	.textoverlay h4 {
		font-size: 44px;
		padding: 100px 60px 0;
	}
	.searchbox-campus {
		left: 10%;
		width: 80%;
	}
	.campusbaner .row1>div {
		width: 470px;
		margin: 4px auto;
	}
	.careerbanner .carousel-caption h1 {
		font-size: 21px;
	}
	.careerbanner .carousel-caption p {
		font-size: 12px;
	}
	.btm-sec {
		padding: 20px 0 0 !important;
	}
	.col-sm-12 {
		display: block !important;
	}
	.footer-connect-links, .socialicons {
		padding-left: 0;
	}
	.carousel-inner {
		margin-top: 20px;
	}
	.carousel-caption {
		top: 10px;
		font-size: 14px;
	}
	.carousel-caption h3 {
		font-size: 32px;
	}
	.thinqheader ul {
		padding: 0;
		margin: 0 0 0 20px;
		font-size: 12px;
	}
	.thinqheader ul li {
		margin-bottom: 5px;
	}
	.box1, .box2, .box3, .teamspeak_sm {
		float: none;
		margin: auto auto 20px;
		width: 290px;
	}
	#myBtn {
		right: 20px;
	}
	.newat-title {
		padding: 10px 20px;
		text-align: center;
		font-size: 19px;
	}
	.triangle1 {
		padding: 20px;
		background: url(../imgs/triangle1.jpg) no-repeat;
	}
	.triangle2 {
		padding: 20px;
		background: url(../imgs/triangle2.jpg) no-repeat;
	}
	.triangle3 {
		padding: 20px;
		background: url(../imgs/triangle3.jpg) no-repeat;
	}
	.scrollto123 h1 {
		padding: 10px 0 10px 0;
	}
	.footerbg {
		background-size: auto 100%;
	}
	footer {
		height: fit-content;
		padding: 53px 5px;
		background: #303030;
	}
	.greenbg {
		padding: 20px 10px 20px;
	}
	#Social {
		padding-bottom: 0;
	}
	.thinqheader {
		padding: 30px 20px;
	}
	.wegrow {
		font-size: 20px;
		line-height: 120%;
		padding: 0 0 20px 0;
		margin-left: 0;
		border-right: none;
	}
	.thinqbg1, .thinqbg2, .thinqbg3, .thinqbg4 {
		min-height: 350px;
	}
	.text-top-xs {
		position: absolute;
		bottom: 20px !important;
		left: 20px;
	}
	.recruitmentbg1 {
		background: #4178be;
		padding: 30px;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		
	}
	.recruitment-title-lg {
		font-size: 36px;
		text-align: left;
	}
	.recruitment-title-md {
		font-size: 20px;
		line-height: 120%;
	}
	.recruitment-title-sm {
		font-size: 12px;
	}
	.blogtitle {
		font-size: 24px;
	}
	#panel {
		width: 100%;
	}
	.active .careerheader .navbar-nav>li>a {
		color: #666;
	}
	.sec1 span {
		display: block;
	}
	.footerlinks {
		margin-bottom: 30px;
	}
	.footerlinks2 {
		display: block;
		padding: 15px 0 0 0;
		margin-left: -10px;
	}
	.thinqmenu .dropdown-item {
		line-height: 25px;
	}
	.thinqmenu .navbar-collapse.in {
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}
	.thinqmenu .navbar-nav {
		margin: 0;
	}
	.search-box2, .search-box2 button {
		top: 14px;
		right: 0;
		position: absolute;
		width: 40px;
	}
	.search-box2 .dropdown-content {
		right: 0 !important;
		top: -14px;
	}
	.thinqmenu .navbar-brand {
		padding: 4px 15px;
	}
	.thinqmenu .soc-icons, .thinqmenu .loginimg {
		display: none;
	}
	.thinqmenu .navbar-toggle {
		margin: 0 35px 0 0;
	}
	.loginimg {
		
	}
	.search-box {
		display: none;
	}
	.column {
		flex: 1;
		display: block;
		flex-direction: column;
		width: 100% !important;
	}
	.column {
		word-break: break-all;
	}
	.toplinks {
		float: none;
		width: 100%;
		text-align: center;
	}
	.toplinks ul {
		width: 100%;
		margin-right: 0 !important;
		padding: 0;
	}
	.toplinks ul li {
		display: inline-block !important;
		float: none !important;
	}
	.navbar-toggle {
		/*background: #ccc;*/
		
	}
	.navbar-toggle .icon-bar {
		background: #333;
	}
	.thinqmenu .navbar-toggle .icon-bar {
		background: #fff;
	}
	.active .top-bar .navbar-brand {
		width: 100%;
	}
	.active .top-bar .navbar-brand img {
		width: 180px;
	}
	.social-icons {
		float: none;
		text-align: center;
	}
	.toplinks ul li {
		padding: 5px;
	}
	.toplinks ul li a {
		padding: 0px;
	}
	.top-bar .navbar-brand {
		display: none;
	}
	header.active {
		background: #ffffff;
	}
	.navbar-brand {
		padding: 15px;
		width: 130px;
	}
	.navbar-nav {
		padding-top: 30px;
	}
	.navbar-nav>li>a {
		padding: 7px 20px;
	}
	.navbar-nav .open .dropdown-menu {
		/*height: 200px;*/
		overflow: auto;
	}
	.dropdown-item {
		line-height: 30px;
	}
	.dropdown-content {
		width: 100%;
	}
	.thinqmenu .dropdown-menu {
		background: #f1f1f1 !important
	}
	.bannertxt p {
		font-size: 18px;
	}
	.bannertxt span {
		font-size: 16px;
	}
	.bannertxtlist {
		font-size: 16px;
	}
	.padd20 {
		padding: 10px 0;
	}
	h5 {
		font-size: 12px;
	}
	h4 {
		font-size: 13px;
	}
	h3 {
		font-size: 15px;
	}
	h2 {
		font-size: 18px;
	}
	h1 {
		font-size: 24px;
	}
	.blogrow {
		margin-bottom: 15px;
	}
	.category {
		padding: 20px 0 5px 40px;
		font-size: 16px;
	}
	.careerbanner {
		/*	height: 250px;*/
		
	}
	.careerbanner .carousel-caption {
		width: 80%;
	}
	.thinqheader {
		background: url(../imgs/we-grow2.jpg) no-repeat;
		background-size: cover;
	}
	.section-hd {
		margin: 20px 0;
		font-size: 20px;
		font-weight: 700;
	}
	.section-hd-text {
		margin: 20px 20px 20px;
		font-size: 12px;
	}
	.carousel-control {
		top: 50px;
	}
	.map-new {
		padding: 20px;
	}
	.knowmore p {
		font-size: 12px;
	}
	.knowmore h3 {
		padding: 20px 0 10px;
	}
	.leabox .close {
		right: 5px;
		top: 0;
	}
	.leabox .modal {
		padding: 30px;
	}
	.blogrow-news>div {
		width: 100%;
	}
	.blogrow-news .blogimg {
		padding: 10px;
	}
	.alliencesbox {
		margin-bottom: 30px;
	}
	.textcol {
		padding: 20px;
	}
	.icon-txt-services {
		font-size: 14px;
		text-align: center;
		margin-bottom: 30px;
		margin-top: 10px;
	}
	.fresher-txt p {
		margin-bottom: 0;
	}
	.internscol {
		font-size: 14px;
	}
	.campusbaner {
		margin-top: 80px;
	}
	.fresher-box {
		margin-bottom: 30px;
	}
	.fresher-box2 .dinlineblock {
		display: block;
		width: 100%;
	}
	.searchtitle {
		margin: 40px 0 0 20px;
	}
	.jobsearchbox2 {
		margin: 60px 0 5px;
	}
	.jobsearchbox2 input, .jobsearchbox2 select {
		width: 90%;
		margin: 10px 15px;
	}
	.fresher-hdtxt {
		font-size: 14px;
	}
	.fresherig {
		width: 100px;
	}
	.mobile-padd10 {
		padding: 10px;
	}
	.nopadd-mobile {
		padding: 0;
	}
	.prompt p {
		margin-top: 10px;
	}
	.career-community .career-inner-banner {
		height: 200px !important;
		overflow: hidden;
	}
	.career-community .career-inner-banner .carousel-caption {
		top: 25%;
	}
	.formsection .nav-tabs li {
		float: left !important;
		display: inline-block !important;
	}
	.formsection .nav-tabs li {
		padding: 0;
	}
	.formsection .nav-tabs li a {
		padding: 0;
	}
	.formsection .column {
		width: 16.5% !important;
		display: inline-block !important;
	}
	.loginform .input-group2 {
		margin-top: 0;
	}
	.faqbanner .carousel-caption {
		top: -18px !important;
	}
	h1 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.faq h4 {
		margin: 0 !important;
		padding: 10px 0 !important;
	}
	.faq .accordion-toggle:before, .faq .accordion-toggle.active:after {
		top: 15px;
	}
	.helptextbox {
		position: relative;
		background: #fff;
		box-shadow: 0 0 10px #ccc;
		padding: 5%;
		z-index: 1;
		border-radius: 5px;
		width: 90%;
		margin: 10px auto;
	}
	.quantcare .logoblue {
		width: 100px;
		margin: 2px 10px 0;
	}
	.soltext2 h1 {
		font-size: 24px;
		padding-top: 10px;
	}
	.soltext2 p {
		font-size: 12px;
	}
	.soltext2 {
		margin: 0;
	}
	.profilehd2txt {
		font-size: 20px;
	}
	.alertbox {
		margin-bottom: 10px;
	}
	.weighbox {
		border-right: none;
		padding-left: 0;
	}
}

@media ( min-width :768px) and (max-width:991px) {
	.weighbox {
		border-right: none;
		padding-left: 0;
	}
	#product .platform-diagram {
		margin: 30px auto 112px;
	}
	.section-hd {
		font-size: 30px;
	}
	.proofs label {
		display: block;
		margin-top: -15px;
	}
	.proofs .form-control-sm {
		width: 100%;
	}
	.navbox {
		padding: 10px;
	}
	.soltext2 h1 {
		font-size: 30px;
	}
	.soltext2 p {
		font-size: 12px;
	}
	.qc-icon {
		width: 30px;
	}
	.centerline {
		padding: 15px 5px 20px 5px;
		text-align: right;
		display: inline-block;
		margin: auto;
		font-weight: 700;
		width: 32%;
		font-size: 11px;
		text-align: center;
		display: none;
	}
	.helptextbox {
		padding: 10px;
		margin: 0 10px;
		font-size: 11px;
		width: 166px;
	}
	.eventbanner .carousel-caption {
		top: 25px;
	}
	.eventbanner .carousel-caption h1 {
		font-size: 24px;
	}
	.eventbanner .readmore {
		display: inline-block;
		padding: 2px 10px;
	}
	.stats h1 {
		font-size: 18px;
	}
	.stats h1 span {
		font-size: 12px;
	}
	.eventlogo img {
		width: 80px;
	}
	.redbox2 {
		font-size: 12px;
	}
	.eventlogo2 {
		margin-top: 40px;
	}
	.eventlogo2 img {
		width: 250px;
	}
	.stats {
		padding: 0;
	}
	.stats h1 span {
		font-size: 10px;
	}
	.section-hd-text {
		margin: 20px 5% 50px;
		font-size: 14px;
	}
	.faqbanner .carousel-caption {
		top: 0 !important;
	}
	.queries {
		font-size: 14px;
		width: 90%;
		margin-top: 10px;
	}
	.supportbanner input {
		padding: 5px 10px;
		font-size: 14px;
		height: 35px !important;
	}
	.supportbanner .carousel-caption h3 {
		font-size: 40px;
	}
	.supportbanner h3 img {
		width: 45px;
	}
	.videobg {
		margin-top: -150px;
		margin-bottom: -5px;
	}
	.homevideoslider {
		margin-top: 12%;
	}
	.readmoreblk {
		padding: 5px;
	}
	.internscol {
		margin: 20px 0;
		font-size: 14px;
	}
	.fresherig {
		display: inline-block;
		width: 25%;
		vertical-align: middle;
	}
	.fresher-txt {
		font-size: 12px;
		vertical-align: middle;
	}
	.careerbanner img, .careerbanner video {
		height: 100% !important;
	}
	.leadname {
		padding: 5px;
		font-size: 14px;
	}
	.leadnamen span {
		font-size: 12px !important;
	}
	.leadersrow>div {
		margin: 5px;
	}
	.readmore {
		padding: 5px;
	}
	.knowmore p {
		font-size: 12px;
	}
	.greenbg {
		padding: 40px 10px 40px;
	}
	.smlast .leaderbox:hover .txt-overlay {
		height: 100%;
		left: -100% !important;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
	}
	.searchbox-campus {
		left: 30%;
	}
	.careerbanner {
		height: 350px;
	}
	.careerbanner .carousel-caption h1 {
		font-size: 30px;
	}
	.blk-overlay {
		font-size: 12px;
	}
	.box2 {
		font-size: 14px;
	}
	teamspeak .blogrow {
		padding: 30px 20px 0;
	}
	.teamspeak_sm h4 {
		font-size: 12px;
	}
	.scrollto123 h1 {
		padding: 40px 10px 10px;
		font-size: 20px;
	}
	.scrollto123 p {
		padding: 10px 10px;
	}
	.recruitment-title-md {
		font-size: 24px;
	}
	.recruitment-title-sm {
		font-size: 14px;
	}
	.recruitment-title-lg {
		font-size: 85px;
	}
	.blogtitle {
		font-size: 30px;
	}
	.thinqbody {
		padding-top: 84px;
	}
	.menutitle {
		font-size: 14px;
	}
	.img_lg, .txt-lg {
		width: 100%;
		display: block;
	}
	.search-box input {
		width: 130px;
	}
	.nav>li>a {
		padding: 15px 8px;
	}
	.navbar-nav>li>a {
		font-size: 11px;
		color: #333;
	}
	.navbar-brand {
		width: 135px;
		padding: 15px;
	}
	.active .top-bar .navbar-brand {
		width: 135px;
		padding: 15px 0;
	}
	.active .toplinks ul li a {
		padding: 0 2px;
	}
	.active .toplinks ul li {
		padding: 15px 9px;
	}
	.careerheader .navbar-nav>li>a {
		font-size: 11px !important;
	}
	.bannertxt p {
		font-size: 36px;
	}
	.bannertxt span {
		font-size: 16px;
	}
	.bannertxtlist {
		font-size: 16px;
	}
	.padd20 {
		padding: 10px 0;
	}
	h5 {
		font-size: 12px;
	}
	h4 {
		font-size: 13px;
	}
	h3 {
		font-size: 15px;
	}
	h2 {
		font-size: 18px;
	}
	.blogrow {
		margin-bottom: 15px;
	}
	.textoverlay h4 {
		font-size: 20px;
		padding: 20px 10px;
	}
	.gradient-hd {
		font-size: 40px;
	}
	.tabs li a {
		padding: 10px 30px;
		font-size: 16px;
	}
	.paratext p {
		font-size: 10px;
	}
	.career-community .career-inner-banner {
		height: 350px !important;
		overflow: hidden;
	}
	.career-community .career-inner-banner .carousel-caption {
		top: 15%;
	}
	.profile-hd {
		padding: 5px 20px;
		font-size: 24px;
	}
	.patientprofie {
		padding: 10px 0;
	}
	.address {
		font-size: 12px;
	}
	.address span {
		width: 50px;
	}
	.profilehd2txt {
		font-size: 16px;
		display: table-cell;
		vertical-align: middle;
	}
}

@media ( min-width :992px) and (max-width:1199px) {
	.profilehd2txt {
		font-size: 24px;
	}
	#product .platform-diagram {
		margin: 60px auto 180px;
	}
	.navbox {
		padding: 20px;
	}
	.centerline {
		padding: 15px 5px 20px 5px;
		text-align: right;
		display: inline-block;
		margin: auto;
		font-weight: 700;
		width: 32%;
		font-size: 11px;
		text-align: center;
	}
	.careerheader .navbar-nav>li>a {
		font-size: 11px !important;
	}
	.eventbanner .carousel-caption {
		top: 50px;
	}
	.eventbanner .carousel-caption h1 {
		font-size: 34px;
	}
	.eventbanner .readmore {
		display: inline-block;
		padding: 2px 10px;
	}
	.stats h1 {
		font-size: 20px;
	}
	.stats h1 span {
		font-size: 12px;
	}
	.eventlogo img {
		width: 120px;
	}
	.eventlogo2 {
		margin-top: 50px;
	}
	.eventlogo2 img {
		width: 350px;
	}
	.stats {
		padding: 10px 0 20px;
	}
	.faqbanner .carousel-caption {
		top: 0 !important;
	}
	.faqbanner .carousel-caption {
		top: 0 !important;
	}
	.topicswrapper a {
		padding: 0;
	}
	.queries {
		font-size: 14px;
		width: 90%;
		margin-top: 10px;
	}
	.supportbanner input {
		padding: 5px 10px;
		font-size: 14px;
		height: 40px !important;
	}
	.career-community .career-inner-banner {
		height: 400px !important;
		overflow: hidden;
	}
	.career-community .career-inner-banner .carousel-caption {
		top: 15%;
	}
	.videobg {
		margin-top: -200px;
		margin-bottom: -5px;
	}
	.paratext p {
		font-size: 12px;
	}
	.careerbanner img, .careerbanner video {
		height: 100% !important;
	}
	.gradient-hd {
		font-size: 50px;
	}
	.readmore {
		padding: 5px 20px;
	}
	.greenbg {
		padding: 40px 20px 40px;
	}
	.txt-overlay {
		font-size: 10px;
	}
	.textoverlay h4 {
		font-size: 24px;
		padding: 25px 20px;
	}
	.searchbox-campus {
		left: 35%;
	}
	.careerbanner {
		height: 400px;
	}
	.careerbanner .carousel-caption h1 {
		font-size: 40px;
	}
	.recruitment-title-md {
		font-size: 28px;
	}
	.recruitment-title-sm {
		font-size: 18px;
	}
	.recruitment-title-lg {
		font-size: 100px;
	}
	.padd20 {
		padding: 15px 5px;
	}
	h5 {
		font-size: 13px;
	}
	h4 {
		font-size: 15px;
	}
	h3 {
		font-size: 18px;
	}
	h2 {
		font-size: 20px;
	}
	.blogrow {
		margin-bottom: 20px;
	}
	.thinqbody {
		padding-top: 84px;
	}
	.menutitle {
		font-size: 15px;
	}
	.nav>li>a {
		padding: 14px 10px;
	}
	.navbar-nav>li>a {
		font-size: 14px;
		color: #333;
	}
	.tabs li a {
		padding: 10px 40px;
		font-size: 16px;
	}
}

@media ( max-width :480px) {
	.login-prompt label {
		font-size: 12px;
	}
	.career-community .career-inner-banner {
		height: 150px !important;
		overflow: hidden;
	}
	.career-community .career-inner-banner .carousel-caption {
		top: 10%;
	}
	.tabs li a {
		padding: 10px 20px;
		font-size: 16px;
	}
	.aboutlinks a {
		display: block;
		margin-bottom: 10px;
	}
	.textoverlay h4 {
		font-size: 34px;
		padding: 70px 30px 0;
	}
	.searchbox-campus {
		left: 10%;
		width: 80% !important;
	}
	.campusbaner .row1>div {
		width: 300px;
		margin: 4px auto;
	}
	.toplinks ul li {
		padding: 0 5px;
	}
	.toplinks ul li a {
		font-size: 12px !important;
	}
	.column a {
		font-size: 11px !important;
	}
	.alliancerow a {
		font-size: 16px !important;
	}
	.number-wrapper a {
		font-size: 18px !important;
	}
}

@media ( max-width :320px) {
}

@media ( min-width :1200px) {
	#product .platform-diagram {
		margin: 60px auto 180px;
	}
	.solutionbanner h1 {
		margin-top: 50px !important;
	}
	.loginpage .tab-content {
		margin: 10px 40px;
	}
	.centerline {
		padding: 20px 0 20px 0;
		text-align: right;
		display: inline-block;
		margin: auto;
		font-weight: 700;
		width: 46%;
	}
	.profile-txt {
		font-size: 16px;
	}
	.eventbanner {
		margin-top: -10px;
	}
	.topicswrapper {
		font-size: 16px;
	}
	.career-community .career-inner-banner {
		height: 500px !important;
		overflow: hidden;
	}
	.career-community .career-inner-banner .carousel-caption {
		top: 35%;
	}
	.homevideoslider .carousel-control.right, .homevideoslider .carousel-control.left
		{
		width: 5%;
	}
	.profilebody {
		min-height: 600px;
	}
	.pfofileformwrapper {
		margin-right: 30%;
	}
	.toppara {
		padding-top: 50px;
	}
	.applybox1 {
		margin: 0 50px;
	}
	.jobsearchbox input {
		width: 50%;
	}
	.smallinpt {
		width: 30% !important;
	}
	.dottedline {
		background: url(../imgs/dotedline.png) no-repeat center 65px;
	}
	.fresher-box {
		margin: 20px;
	}
	.customer {
		margin-left: 180px;
		margin-right: 100px;
	}
	.linebg {
		background: url(../imgs/linebg.jpg) no-repeat left center;
	}
	.icons-wrapper {
		margin: 20px 5%;
	}
	.servicesdd {
		width: 90% !important;
		margin: 0 5% 0 !important;
	}
	.map-wrapper {
		margin: 0 10%;
	}
	.col-50 {
		width: 48%;
	}
	.col-40 {
		width: 39%;
		display: inline-block;
	}
	.rel_lg {
		position: relative !important;
	}
	ul .dropdown-menu {
		left: 0 !important;
	}
	.txt-lg p, .sm_txt p {
		font-size: 14px;
		line-height: 150%;
	}
	.active .top-bar2 .social-icons {
		top: 60px;
		position: absolute;
		right: 0;
	}
	.active .top-bar2 .dropdown-content {
		top: 48px;
	}
	.careerheader .navbar-nav {
		float: none;
		text-align: center;
	}
	.active .careerheader .navbar-nav {
		float: none;
		text-align: left !important;
	}
	.careerheader .navbar-nav>li {
		float: none;
		display: inline-block;
	}
	.eventlogo2 {
		margin-top: 80px;
	}
	.eventlogo2 img {
		width: 500px;
	}
}

@media ( min-width :1800px) {
	.servicesdd {
		width: 70% !important;
		margin: 0 15% 0 !important;
	}
	#dubai {
		top: 38.5%;
		right: 39%;
	}
	#australia {
		top: 59%;
		right: 15%;
	}
	#southkoria {
		top: 34%;
		right: 25%;
	}
	#china {
		top: 34.5%;
		right: 27%;
	}
	#japan {
		top: 33%;
		right: 20.5%;
	}
	#india {
		top: 38.5%;
		right: 31.5%;
	}
	#rushia {
		top: 23.5%;
		right: 32.5%;
	}
	#singpore {
		top: 46.5%;
		right: 25.5%;
	}
	.videooverlay video {
		min-width: 100% !important;
		min-height: 100% !important;
	}
	.textoverlay h4 {
		font-size: 54px;
		padding: 80px 60px;
	}
}

.ddfull {
	width: 100% !important;
	left: 0 !important;
}

.ddfull>li {
	width: 100%;
}

.thinqmenu .search-box button {
	position: relative !important;
}

.search-box2 input {
	height: 30px !important;
	padding: 0 5px;
	line-height: normal;
}

.dblock {
	display: block !important;
}

.nomargin {
	margin: 0 !important;
}

.countrycode {
	display: inline-block;
	width: 49px !important;
	padding: 0;
}

.smallinpt {
	display: inline-block;
}

.sec-border {
	border-bottom: 1px solid #ccc;
}

.text-italic {
	font-style: italic;
}

.normal {
	font-weight: 400;
}

.margt-15 {
	margin-top: -15px;
}

.solutionbanner .carousel-caption {
	left: 1%;
	right: 1%;
	width: 98%;
}
}